[2020-07-27 15:13] curquiza opened #4 "Add CONTRIBUTING.md"
Based on this [template](https://github.com/meilisearch/integration-guides/blob/master/templates/CONTRIBUTING.md) with detailed steps to contribute (install dependencies, to run the tests, linter...)

[2020-07-27 15:13] curquiza opened #5 "Add release-drafter"

[2020-07-27 15:14] curquiza opened #6 "Add CI to push to NPM"

[2020-07-29 09:29] curquiza opened #9 "Add dependabot"
Do it when the package is public

[2020-07-29 14:12] #6 closed, assigned to curquiza

[2020-07-29 14:17] curquiza commented on #5
Closed with #10

[2020-07-29 14:17] #5 closed

[2020-07-29 14:17] #4 closed

[2020-07-29 14:19] curquiza commented on #9
Done!

[2020-07-29 14:19] #9 closed

[2020-07-29 14:20] curquiza opened #12 "Improve tests"
## State of tests

As of now we only tests a few instant-meilisearch return in `tests/base.test.js`. Those are not enough to ensure that every option of instant-meilisearch works properly.

## Solution

More integration tests should be added. In a perfect world, every parameter should be tests with different values. But we can start with an mvp of tests.

## Example

- with/without pagination widg

[2020-08-01 20:17] dawnerd opened #15 "Problem with replaceAll"
Hey all

I know this is early in the modules life but I stumbled on this and it's exactly what I was about to build out. Gave it a go and it wasn't rendering the hits so I did some debugging and it looks like these lines https://github.com/meilisearch/instant-meilisearch/blob/master/src/index.js#L36-L37 are silently failing.

As a stop gap I had to use https://github.com/es-shims/String.prototype.

[2020-08-02 10:26] curquiza commented on #15
Hello @dawnerd!

That is exactly the kind of feedback I want! Thanks for your issue, especially because if we are in an early stage 🙂

What do you mean? Do you mean this [demo app](https://codesandbox.io/s/ms-react-is-sh9ud?fontsize=14&hidenavigation=1&theme=dark&file=/src/App.js)?
Because I don't succeed to reproduce your error.

Can you show me how you use `instant-meilisearch` and InstantSearch

[2020-08-02 16:47] dawnerd commented on #15
You can see in the screenshot below, the request is fired off and results are returned but nothing is rendered. and no errors in console.

I'm in Chrome Version 84.0.4147.105 (Official Build) (64-bit)

Looks like replaceAll was only just recently added to Chrome 85 (https://caniuse.com/#feat=mdn-javascript_builtins_string_replaceall) which isn't out yet.

Although I think the bigger issue is for w

[2020-08-03 05:30] dawnerd commented on #15
Found another minor issue with this same section of code. If there's a result that has a field set to null, `result[key] = { value: newHighlightString.toString() }` will fail - again silently.

A quick fix I did was to change `let newHighlightString = formattedHit[key]` to `let newHighlightString = formattedHit[key] || ''`.

[2020-08-03 05:51] dawnerd opened #18 "Pagination issues"
Noticed pagination stops working (with react) once you go past the number of items fetched initially and there's no future offset sent to grab more pages. Not sure if this is by design, but it feels more like an oversight.

I've modified my local copy like so:

[code]

And removed the page check/splice in `parseHits`. That splice functionality could probably stay if you detected how many were grab

[2020-08-03 10:20] curquiza commented on #15
Oh! Indeed now I can reproduce the issue 🙂

This is indeed the main problem...

Thanks for this fix! I will update that soon

In general, thanks for your bug reports! It helps!
We are going to investigate on all these points!

[2020-08-04 12:13] curquiza opened #23 "Implement browse"
using the MeiliSearch placeholder `q=null`

[2020-08-04 12:21] curquiza commented on #15
Partially closed with #22

[2020-08-05 07:40] #15 closed

[2020-08-05 08:09] curquiza opened #27 "Errors are silent"
See this issue https://github.com/meilisearch/instant-meilisearch/issues/15

[2020-08-05 08:11] curquiza commented on #15
Totally fixed with #25
New issue opened about silent errors with #27

[2020-08-05 10:29] curquiza opened #28 "Use match instead <em> tags"
Currently, we use `<em>` tags and we replace them by the specified tag, but it would be better to use the `match` options in query parameters (during the search) instead.

[2020-08-06 10:36] eskombro opened #29 "Implement an option for attributesToCrop"
We need to be able to crop fields with instantsearch at search time

[2020-08-06 13:42] curquiza opened #30 "Remove warnings in React code-sandbox"
Currently, we get these warnings in the console in [React codesandbox](https://codesandbox.io/s/ms-react-is-sh9ud?file=/src/App.js):

[code]

[code]

[2020-08-06 14:36] curquiza commented on #18
Hello @dawnerd, thanks for your report 🙂

I'm don't really understand the issue, but I might have found one concerning pagination (on React only). I notice there is a missing arrow at the bottom of the page:

<img width="854" alt="Capture d’écran 2020-08-06 à 16 33 44" src="https://user-images.githubusercontent.com/20380692/89544904-f62e8700-d802-11ea-9d83-c729d862da04.png">

Is this your issue?

[2020-08-09 18:16] dawnerd commented on #18
Can confirm new version fixed the other issue but not pagination yet

[2020-08-10 08:07] curquiza commented on #18
Hello @dawnerd!

I haven't merged the PR that fixes the pagination yet, see #31.
Can you confirm that the problem I describe is the same problem you noticed? Because I'm not sure to exactly understand the pagination issue you have.

[2020-08-10 14:48] #23 closed

[2020-08-10 14:50] curquiza commented on #18
@dawnerd
If your issue is the same issue I described, please replace:

[code]
by
[code]

The [react codesandbox](https://codesandbox.io/s/ms-react-is-sh9ud?file=/src/App.js) is now up-to-date.

[2020-08-10 15:43] dawnerd commented on #18
Nope, didn't help. Your sandbox is still capped at paginating a max of 50 items - solution was in the code block I pasted above.

Every click on a pagination item in the sandbox also returns the same response.

[2020-08-11 09:05] curquiza commented on #18
I'm a little bit confused because I don't have this problem when using the codesandbox... It's complicated to fix something I don't succeed to reproduce 😕

[2020-08-11 09:27] curquiza commented on #18
This is normal, the `limitPerRequest` is by default set to 50.
If you want to change that, see [these docs](https://github.com/meilisearch/instant-meilisearch/#customization).

But maybe the `limitPerRequest` name is confusing... because we indeed re-do a request when clicking on the pagination items... `limitPerRequest` is the number of total item.
Maybe it would deserve a better name, like `tota

[2020-08-11 14:50] dawnerd commented on #18
A re request is exactly what we need. It doesn’t make sense to only return 50 items max, and if I wanted to let someone Latinate over say 200, it also doesn’t make sense to pull in 200 in one request. But there’s still the issue that it’s making the request on every pagination click regardless, check the network tab.

[2020-08-11 16:06] curquiza commented on #18
Hope this time I understand well your issue, not easy so far…

MeiliSearch does not handle pagination yet. I mean, I have no way with MeiliSearch to know the exact number of hits for a query. There is always a limit (20 by default).
The pagination handles by InstantSearch is a **finite** pagination. It means I have to provide the total number of pages. See [this line](https://github.com/meilisearc

[2020-08-11 16:20] dawnerd commented on #18
It works with my patch above so I dunno, I can paginate through all of the results without issue.

If you look here https://opencoaster.com/ , open up the network tab and search for `a` you can paginate through all of the results - pay attention to the nbHits response var.

[2020-08-12 07:53] curquiza commented on #18
Yes as you noticed, with your patch you get infinite pagination and not a **finite** one. The InstantSearch pagination widget is not designed for infinite pagination, you maybe don't care but that's not the first purpose of the widget and maybe other users expect the basic behavior.
I'm aware of this pagination issue anyway and be sure I really want to fix that. I will indeed discuss it with the t

[2020-08-12 15:10] dawnerd commented on #18
That’s fair but you’re still making the same request on every pagination click which is a waste of bandwidth and server resources.

I can totally get behind adding a total cap on items but the default is far too low and will confuse people. If I opt for higher it shouldn’t pull that max all at once especially when MeiliSearch has offset built in that from my tested with large test datasets is just

[2020-08-12 15:29] curquiza commented on #18
Yes, I got it: that's the main problem we are discussing here. But as I told you if we want finite pagination we have no choice right now.

I told you I will discuss it with the different teams. I'm not going to forget this issue. You can understand I cannot afford to work immediately on something that might concern changes on the core-engine or approval of the integration team since it differs fr

[2020-08-17 12:54] curquiza opened #46 "Fix the security vulnerability"

[2020-08-19 12:25] bidoubiwa opened #48 "Missing searchable in refinements-list"
When trying to use the `searchable` option in the `ais-refinement-list` it throws an error because the following method does not exist in `instant-meilisearch`:

[code]

Here is the documentation about `searchable` in refinement:
https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#widget-param-searchable

[2020-08-19 13:16] bidoubiwa opened #49 "Warning: Invalid prop: type check failed for prop "showMoreLimit". Expected Number got String"
When using `show-more-limit` in `ais-refinement-list` whether the prop is in string or in int the same "error" is thrown in the console. I put error in quotes because it still works even with this error thrown. It work if you put a string or a int.
[Official documentation of showMoreLimit](https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#widget-param-show-more-limit)

[code]

[2020-08-20 13:27] curquiza commented on #29
This will be available in the v0.2.0 thanks to #50

⚠️ Snippet (for Algolia) = Crop (for MeiliSearch)

Add `attributeToSnippet` to the [configure widget](https://www.algolia.com/doc/api-reference/widgets/configure/js/)

[code]
- `snippetEllipsisText` is not mandatory but will add `...` around your crop string.)
- `:50` is not mandatory and is the cropLength (as a number of chars, not a number of w

[2020-08-20 15:26] #29 closed

[2020-08-20 15:35] curquiza commented on #48
Unfortunately, we will not able to implement this kind of feature until MeiliSearch handles a way to search in the facets in the core-engine part.
Indeed, Algolia has a `searchable` option you can set on the facets.

Seet the dashboard

<img width="745" alt="Capture d’écran 2020-08-20 à 17 33 20" src="https://user-images.githubusercontent.com/20380692/90793026-80024800-e30b-11ea-803d-c590c99ba84

[2020-08-20 15:57] curquiza commented on #49
I get the same error when using Algolia...
Go to [this page](https://codesandbox.io/embed/github/algolia/doc-code-samples/tree/master/Vue+InstantSearch/getting-started) and add `show-more show-more-limit=15` in `App.vue`, line 20.

[2020-09-01 08:33] bwklein opened #59 "Is there a way to pass a URL query parameter into the instant searchbox?"
It works great when I type in the search box field, but I haven't figured out a good method to pass a URL parameter like ?q=training to feed the search system when the page opens.

[2020-09-01 16:07] shanebeeston commented on #59
You will need to have routing enabled on instant search, and i believe the default is `?query=` but you will be able to change this by overriding the history router

[2020-09-02 03:43] bwklein commented on #59
Thank you,

I was actually reading a bit about that option today.  Do you have a
working example of that somewhere?

On Tue, Sep 1, 2020, 09:07 Shane Beeston <notifications@github.com> wrote:

[2020-09-02 09:16] bidoubiwa commented on #59
Hello @bwklein
There are two working example in the [playground folder of this repository](https://github.com/meilisearch/instant-meilisearch/tree/master/playgrounds). They both use a remote MeiliSearch to work so you just need to yarn install them and
`yarn serve` for the vue playground and `yarn start` for the react playground.

Hope you will find your answers.

[2020-09-02 14:43] bwklein commented on #59
I found the answers and it is working as of last night! Thank you, closing this case.

Note for others: turn on routing and make sure to set the correct query string in the URL.
In my case it was ?indexname[query]=querystring  ( Ex. ?teci-search[query]=fire )

https://www.femtc.com/search?teci-search%5Bquery%5D=fire works for me!

[2020-09-02 14:43] #59 closed

[2020-09-10 08:22] andrelillvede opened #70 "Filters are ignored"
When filters are added to instantsearch.configure they are not propagated to meilisearch.

so doing
[code]
when using react is not filtering the results.

[2020-09-10 09:17] curquiza commented on #70
Hello thanks for the issue and the PR! I've checked that, it seems ok, I'm going to merge it!

[2020-09-10 09:18] #70 closed

[2020-09-22 15:40] curquiza commented on #46
Finally closed by #81

[2020-09-22 15:40] #46 closed

[2020-10-05 09:13] curquiza commented on #30
Hello @iamanishagarwal, I assign you! 🙂

[2020-10-05 16:45] iamanishagarwal commented on #30
Hello @curquiza , I am facing this issue while running the playground react in development mode.
![Capture](https://user-images.githubusercontent.com/30866925/95108020-4faa2800-0758-11eb-84cd-b45e055d000b.PNG)

[2020-10-06 09:03] curquiza commented on #30
Hello @iamanishagarwal! Looks weird, I don't have this error at all:

[code]

<img width="409" alt="Capture d’écran 2020-10-06 à 11 02 44" src="https://user-images.githubusercontent.com/20380692/95181462-9da84580-07c3-11eb-87ba-818444c17c7b.png">

[2020-11-05 13:28] bb opened #118 "Usage with TypeScript"
I'd like to use this library with TypeScript, however there do not seem to be official typings available.

Are there any plans to add typings?
If so, which would be the preferred way?
One could:
* convert the project to TypeScript (as e.g. meilisearch-js
already is in TypeScript as well),
* add separate d.ts files here inside this repository or
* add them outside e.g. at DefinitelyTyped.

<details

[2020-11-05 14:51] curquiza commented on #18
For those who are following this issue.
The [widget pagination](https://www.algolia.com/doc/api-reference/widgets/pagination/js/) of InstantSearch is definitely done for finite pagination. The widget expects a number of pages, and not to provide this information leads to an inconsistent component. For infinite pagination, the [`infiniteHits` option](https://www.algolia.com/doc/api-reference/widget

[2020-11-05 14:51] #18 closed

[2020-11-05 15:22] bidoubiwa commented on #118
Hey @bb, thanks so much for this very clear review.

We could consider converting the project to typescript. Meanwhile, having a separate .d.ts file is a good idea! I will create an issue for converting the project.

About the problem of the default export. We had a similar problem on meilisearch-js, we have solved it but I'm not sure I remember exactly what I did.  Do you have a fork with the typ

[2020-11-05 15:27] bidoubiwa opened #121 "Converting the project to typescript"
## Proposition

As this is a small project, converting it to typescript is a task that should not be that hard.

## Benefits

If the project is in typescript, we can generate a `typed.d.ts` file containing all the types from this project. This file, in turn, would make this library available for TypeScript user.

More types mean fewer errors, an easier coding experience, and overall better readabi

[2020-11-05 15:28] bb commented on #118
I don't have anything available right now, but as you like the idea of converting the project to TS, I could prepare a PR.

[2020-11-05 16:38] bidoubiwa opened #122 "Named export vs Default export"
# Named or Default

As of today, `instant-meilisearch` uses default export. This means that in order for a user to use instant-meilisearch in an ES environment he has to import it this way:
[code]
The suggestion this issue considers is changing from this default export to a named export:
[code]

Should we change our default export to a named export?
Here are a few arguments, if you have any other

[2020-11-05 16:51] bidoubiwa commented on #118
I made the issue on name export vs default export if you want to join in the debate @bb 😄

[2020-11-05 19:16] bb opened #124 "yarn lint is not running"
In preparation for #121 I tried running through the contributing guidelines, however, the step `yarn lint` was not running successfully on a fresh checkout. The commands given before that were fine.

[code]

After `yarn add -D eslint-config-react-app`, it still failed because of `eslint-plugin-flowtype` (and a few others) it runs... but it does not terminate, at least not within a few minutes:

[c

[2020-11-05 21:45] bb commented on #124
This issue will be solved when #123 is merged. See comments there for details.

[2020-11-05 23:09] bb commented on #122
Thanks for the detailed overview! It was not my intention to trigger that much work with my seemingly small question. Sorry.

To elaborate my vote in favor of named exports, some additional comments:

* Regarding *Pro-default 2*

  I think this argument is a bit historic as default was the earlier option. I think this point should be removed from the list or even be moved to the con-default list.

[2020-11-05 23:40] bb opened #125 "Unify licenses"
I noticed the following files specify ISC while the rest of the project is MIT. Maybe those should be _changed_ to MIT (or the lines _removed_, as there's also no extra license in the playground's package.json).

* https://github.com/meilisearch/instant-meilisearch/blob/master/examples/esm/package.json#L11
* https://github.com/meilisearch/instant-meilisearch/blob/master/examples/express/package.js

[2020-11-08 22:13] ayalon opened #126 "How to exclude 0 count facets? How to make facets stay in the list?"
I have two simple questions. I created a earch prototype with algolia and I'm now trying the same code to work with meilisearch.

**First issue:**
I have have a facet called author. Every document has exactly one author. If I click on one facet, on algolia all the autors with their count remains.

Adam (10)
Abraham (5)
Rossier (1)

If I select Adam on meilisearch the result is:
**Adam (10)** (acti

[2020-11-09 13:35] curquiza commented on #125
Hello @bb!
Indeed, you're right, `MIT` would be better! We would be really glad to review your PR 😁

[2020-11-09 13:35] bidoubiwa commented on #126
Hey @ayalon.

## First issue
About the first issue, I think it is possible using the [`transform-items`](https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#widget-param-transform-items) option from algolia (for [vue](https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#widget-param-transform-items), [react](https://www.algolia.com/doc/api-reference/widgets/ref

[2020-11-09 14:18] ayalon commented on #126
@bidoubiwa 👍
Thank you very much for your response. I was aware if the transform action but I thought there must be a way to filter out the empty items on the server side. But I'm fine with filtering client side.

I will follow up the open issue you mentioned. The terminology for this behaviour is unknown to me, so I'm glad you gave me some directions.

[2020-11-09 14:18] #126 closed

[2020-11-09 14:35] #125 closed

[2020-11-09 15:18] curquiza opened #134 "Should we remove the ".lock" file?"
We are thinking about removing (or not) the `.lock` file of this package.

Since this discussion concerns all the JS tools of the MeiliSearch organization, we created a centralized issue: https://github.com/meilisearch/integration-guides/issues/53.

If you are interested in this topic, please read it and feel free to share your (professional or not) experience with us on this main issue. Every opi

[2020-11-09 15:44] curquiza commented on #124
Close by #123 🚀

[2020-11-09 15:44] #124 closed

[2020-11-11 16:05] aaronschweig opened #137 "Add attributesToRecieve as an param"
Hey guys, first of all thanks for the awesome work you provided!

I have a little question: As described [in your Documentation](https://docs.meilisearch.com/guides/advanced_guides/search_parameters.html#attributes-to-retrieve) there is an option to specify which attributes to receive from a query. I tried to configure it, but sadly it isn't considered in the `transformToMeiliSearchParams`-Functio

[2020-11-12 08:42] qdequele opened #1209 "Add cache for frontend integrations"
In order to have a performance gain, and also to have less server congestion. It is often recommended to put a cache on services. Caching of search requests can be done on MeiliSearch in several places. On the server directly with a service such as [Memcached](https://memcached.org/) or [Redis](https://redis.io/), using CDNs such as Cloudflare or Akamai, or directly on the requesting client.

It i

[2020-11-12 12:57] curquiza commented on #137
Hello @aaronschweig! Thanks for paying attention to this kind of detail!

What is exactly your usecase? Do you use an InstantSearch widget/option that allows you to define the attributes you want to retrieve? 🙂

[2020-11-12 13:23] aaronschweig commented on #137
Thanks for your quick answer!

I use the [ais-configure Widget](https://www.algolia.com/doc/api-reference/widgets/configure/vue/) to further configure the parameters sent to MeiliSearch. It successfully worked for setting filters. But as i tried setting the `attributesToRetrieve` Property it doesn't appear in the request sent to the server 😄

[2020-11-12 13:47] curquiza commented on #137
Thanks for your detailed explanation, it helped me! I fix this issue in this PR #138! 😉

[2020-11-12 16:13] #137 closed

[2020-11-14 03:56] aysark commented on #137
I'm facing a similar issue. I'm using vanilla js (instantsearch.js) and i'm not able to configure parameters like filters-- i tried using: `instantsearch.widgets.configure(searchParameters: object);` but it doesn't seem to be doing anything, i think because i'm using addWidgets?

[2020-11-16 19:02] curquiza commented on #137
Hello @aysark! I'm not sure this is linked to the `attributesToRecieve` issue. Can you open another one and detail how you use the `configure` widget so that I can fix the bug if it is one? 🙂

[2020-11-16 19:04] aysark commented on #137
@curquiza thanks for the response--- but i actually figured it out, so there is no issue:
[code]

[2020-11-17 15:03] curquiza opened #148 "Images of the demos are broken on Chrome"
The images are broken on Chrome only for:
- https://sh9ud.csb.app/
- https://mese9.csb.app/
- https://1d6bi.csb.app/

[2020-11-17 15:45] curquiza opened #149 "sort the facets by value"
For the moment, the facets results (from `facetsDistribution`) are not consistently sorted, we should sort them by alphanumerical order before sending them to the front-end library.

[2020-11-18 10:31] bidoubiwa commented on #148
This issue is due to what is commonly called `mixed content problem`. In which some website that have a valid SSL certificate imports resources in `http`. Which compromises the security of the website.
More about that here: https://blog.cloudflare.com/fixing-the-mixed-content-problem-with-automatic-https-rewrites/

Chromium decided to not send mixed messages (cf say that a website is secure when i

[2020-11-18 11:34] curquiza commented on #148
We are going to deploy a proxy to transfer the `https` requests into `http` ones in order to fix this issue.

[2020-11-18 17:53] meck93 opened #150 "question: incompatible meilisearch versions"
First of all, thanks for the great work on meilisearch. It's a really awesome product.

I have a question or a remark regarding upgrading. Today, I upgrade from: `@meilisearch/instant-meilisearch: 0.2.2 → 0.2.4`. On the server-side, we were using `meilisearch: 0.16.1` and the meilisearch instance was running `meilisearch-http: 0.14`. This broke the setup for us. Everything was still working but th

[2020-11-19 08:53] curquiza commented on #150
Hello @meck93!
Glad to read you love MeiliSearch 😁

The SDKs we release (like [`meilisearch-js`](https://github.com/meilisearch/meilisearch-js) and [`instant-meilisearch`](https://github.com/meilisearch/instant-meilisearch)) are always done and maintained for the latest release of MeiliSearch server (or `meilisearch-http` in your issue). See the section in all the SDKs README: https://github.com/m

[2020-11-19 09:12] meck93 commented on #150
Hi @curquiza

Thanks a lot for answering my questions.

That totally makes sense. I keep forgetting that meili has not officially reached a stable version yet. So, I guess upgrade guides are going to be a topic for the future once meili has reached a stable version.

[2020-11-19 09:12] #150 closed

[2020-11-19 09:48] curquiza commented on #150
Totally! 😁
Thanks for your comprehension!

[2020-11-19 15:45] curquiza commented on #148
Everything seems ok now, can you confirm @bidoubiwa or @eskombro?

[2020-11-19 17:41] bidoubiwa commented on #148
Good for me

[2020-11-19 18:15] curquiza commented on #148
Closing this issue then! 🚀

[2020-11-19 18:15] #148 closed

[2020-11-22 22:01] benhowes opened #730 "React Native compatibility hint"
Hi!

I've just experimented with replacing Algolia with Meilisearch in my react-native application. I had a bit of a problem for a while which turned out to be that I needed a polyfill for `URL` on RN. I added https://www.npmjs.com/package/react-native-url-polyfill to my project which resolved the issue.

Leaving here more for the benefit of future react native developers than anything, however, i

[2020-11-23 18:15] curquiza opened #163 "Add more documentations"
This tool is not obvious to use and our users need more documentation about how to use Instant Search + instant-meilisearch. The sandbox is not enough.

Two steps:
1. Find a place for this kind of "tutorials": a `examples` folder? A longer README?
2. Write them

Here is a non-exhaustive list of the step 2:
- How to crop a field
- How to sort the facets (https://www.algolia.com/doc/api-reference/wi

[2020-11-23 19:14] curquiza commented on #149
Not true, this is currently sorted by count.

When using react-instantsearch or vue instant-search, the `transformItem` option can fix this:
- react: https://www.algolia.com/doc/api-reference/widgets/refinement-list/js/#widget-param-transformitems
- vue: https://www.algolia.com/doc/api-reference/widgets/refinement-list/vue/#widget-param-transform-items

When using instant-search, the `sortBy` opti

[2020-11-23 19:14] #149 closed

[2020-12-30 17:14] CaroFG opened #199 "Errors not caught"
When using instant meilisearch, if the host or the API key is wrong or the index doesn't exist, the only feedback is an "Uncaught (in promise) Error: Unhandled error. (undefined)" in the console. Those kinds of errors should be caught.

[2020-12-30 17:21] curquiza commented on #27
Closed in favor of #199

[2020-12-30 17:21] #27 closed

[2021-01-04 14:35] bidoubiwa commented on #199
I might have a quick fix for this. Will try it out.

[2021-01-06 17:00] fharper opened #205 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #207 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-15 10:30] gorkagv opened #215 "Search for facet values (searchable) was called, but this client does not have a function client.searchForFacetValues"
I am trying to set up a facet filter to be able to the ability to filter the refinement list with text input. But I getting this error whenever a key is pressed into the filter input.

"Error: search for facet values (searchable) was called, but this client does not have a function client.searchForFacetValues or client.initIndex(index).searchForFacetValues"

[2021-01-15 10:54] curquiza commented on #215
Hello @gorkagv!
Thanks for trying MeiliSearch!

This function does not exist in this client because MeiliSearch does not handle the search in the facet values yet. Sorry for this!

[2021-01-18 20:40] #207 closed

[2021-01-21 20:01] bidoubiwa opened #226 "Fix vulnerability caused by react-scripts"
We should update to `immer 8>` to fix this vulnerability. This will be possible once `react-scripts` upgrades `immer` version.

See https://github.com/facebook/create-react-app/issues/10411

[2021-01-22 01:33] ShrillShrestha commented on #226
Hi, I am a beginner. Can you guide me on how to solve this or is it only possible once the create-react-app's issue is resolved? I think they are still using the 7.0.9 version.

[2021-01-22 12:48] bidoubiwa commented on #226
Hey @ShrillShrestha,

Once they have updated `immer` and released a new version, you can update to the next react-scripts. I will keep you updated here :)

I will also try to add more `good first issue` on our other pending issues that are easily solvable.

[2021-01-22 12:50] bidoubiwa commented on #199
Solved by #216

[2021-01-22 12:50] #199 closed

[2021-01-22 13:02] bidoubiwa opened #227 "Remove jest-puppeteer and replace it with jest and puppeteer separately"
# Introduction

To test if `instant-meilisearch` correctly works on browsers we launch a test with jest-puppeteer. This test creates a headless-chrome on which it runs `instant-meilisearch`. It then checks if the page content contains an instantMeiliSearch object.
This is a very very basic test, more should be added, but meanwhile, it ensures us that the library is included properly on a browser.

[2021-01-22 13:30] ShrillShrestha commented on #226
Thanks @bidoubiwa for the information. I will be in the lookout for the `immer`update.

[2021-01-25 13:56] #215 closed

[2021-02-03 12:00] bidoubiwa opened #248 "Improve .gitignore by generating"
Git `.gitignore` files are most of the time generated based on the environment in which you are working. Our `gitignore` is still made from scratch and thus a lot of awareness must be given to not adding files we do not want in this repo.

Using tools like this one: https://github.com/generate/generate-gitignore, we can easily improve our `.gitignore` with all common file names that are not intere

[2021-02-09 16:06] bidoubiwa opened #255 "Changes after the Node.js v10 EOL (2021-04-30)"
Related meilisearch/meilisearch-js#760

Node 10 is the end of life since April 2021. It becomes more and more unsupported by the libraries we use in our different JS project. Until now we had to make a workaround to keep compatibility with node 10.

As for the official EOL of node, we should also drop support for node 10 and stay up-to-date with the libraries that upgraded without node 10 support.

[2021-02-11 18:45] #205 closed

[2021-02-11 19:15] #134 closed

[2021-02-11 19:16] bidoubiwa commented on #134
After discussion it has been decided that yarn lock will be kept to ensure a same environment for all contributors

[2021-02-11 19:16] bidoubiwa commented on #122
Closed by: #238

[2021-02-11 19:16] #122 closed

[2021-02-11 19:17] bidoubiwa commented on #118
Implemented by: #249

[2021-02-11 19:17] #118 closed

[2021-02-11 19:18] bidoubiwa commented on #121
Implemented by: #249

[2021-02-11 19:18] #121 closed

[2021-02-11 19:21] bidoubiwa commented on #226
Closed by: #121

[2021-02-11 19:21] #226 closed

[2021-02-17 18:53] KariUs123 opened #275 "Instant Search Pagination Not Working"
Instant search pagination is not working, it just returns `undefined` on console which means there is no data after clicking the next page, I have tried [this](https://codesandbox.io/s/ms-is-mese9?fontsize=14&hidenavigation=1&theme=dark&file=/index.html) demo also looks like is not working either does any one know why is this happening or is it because of `nbHits` changes and how can I fix this?

[2021-02-18 15:13] curquiza commented on #275
This issue should be closed by #273 and the fresh new release (v0.3.1) contains the fix 👍

[2021-02-18 15:13] #275 closed

[2021-02-23 16:52] bidoubiwa opened #294 "Make end to end tests work on CI (ubuntu)"
As for now we are using angular built-in protector/jasmine/Selenium stack to tests if the playground of angular generated the correct elements with instant-meilisearch.

Unfortunately, these tests are not possible on ubuntu-latest as ChromeDriver is not installed.
We should find a solution to make the CI compatible with this tests as it ensures the most the working state of instant-meilisearch

[c

[2021-03-03 12:53] gorkagv opened #311 "Change sort of the index"
Hi.

Currently when doing an index search (/ indexes /: index_uid / documents), the documents are sorted by primaryKey by default, in my index the primaryKey is "eId".

{
    "eId": 31,
    "name": "Charles”,
..
},
{
    "eId": 32,
    "name": "Ingrid”,
..
},
{
    "eId": 33,
    “name”: “Robert”,
..
},
{
    "eId": 34,
    “name”: "Garcia”,
..
},

Is there a way to sort the index by multiple attr

[2021-03-03 15:34] bidoubiwa commented on #311
Hello @gorkagv! Ranking rules are not applied on `/indexes/:uid/documents`. But they are on the placeholdersearch that may be a solution if you are trying to provide default documents to your user.

Here is the related documentation: https://docs.meilisearch.com/reference/features/search_parameters.html#query-q
I hope this is what you ask!

[2021-03-04 07:26] gorkagv commented on #311
I am using “meilisearch / meilisearch-vue” like in this example -> https://codesandbox.io/s/ms-vue-is-1d6bi?fontsize=14&hidenavigation=1&theme=dark
I need to sort the results by an attribute, for example by date, newests result first, or by name, results sorted alphabetically.

In the documentation I have found this in the ranking rules section (https://docs.meilisearch.com/reference/api/ranking_r

[2021-03-04 09:12] bidoubiwa commented on #311
Hey @gorkagv as this is a issue linked to meilisearch/meilisearch I will move your issue.

[2021-03-18 13:18] mdubus opened #337 "Improve documentation"
The documentation isn't really clear if we want to call some specific routes and not only get results.
Combined with [this issue](https://github.com/meilisearch/meilisearch-js/issues/834), it makes it really hard to understand how it works and what we need to do in some specific use cases.

This could be an example to add to the documentation :

[code]

[2021-03-18 14:43] curquiza commented on #337
Related to #163

[2021-03-24 10:19] bidoubiwa commented on #30
Hey! This has been fixed with #322
You can now pass the primaryKey as an option
[code]
And i will use that field of your documents to generate the `objectID`

[2021-03-24 10:21] #30 closed

[2021-04-12 14:00] mdubus opened #369 "empty _snippetResult when configuring attributesToSnippet"
According to [Instant Search's documentation](https://www.algolia.com/doc/api-reference/api-parameters/attributesToSnippet/#impact-on-the-response), adding Configure with `attributesToSnippet` should return the response with a new field `_snippetResult`.

By providing a field name, it returns the corresponding object :

![Capture d’écran 2021-04-12 à 15 55 36](https://user-images.githubuserconte

[2021-04-12 17:32] curquiza commented on #369
Thanks for your feedback @mdubus ❤️

[2021-04-12 19:01] bidoubiwa opened #370 "Dependabot desactivated until better testing"
To avoid bumping new versions of packages without the knowledge of a possible breaking or bug, we prefer not updating any dependency until better tests are added. We deactivated Dependabot until we introduce better testing.

[2021-04-15 18:53] Jonesus opened #371 "Empty string in search result causes errors"
If one has an empty string in a search result (instead of, say, `null`) it causes the following error:

![image](https://user-images.githubusercontent.com/16649390/114922574-8615dd80-9e34-11eb-8a99-8eafccb7ce97.png)

The data returned by meilisearch causing the error:
![image](https://user-images.githubusercontent.com/16649390/114922964-f0c71900-9e34-11eb-9316-be29d7533b85.png)

This was tested wi

[2021-04-20 12:42] mdubus opened #374 "`isSearchStalled` causes an infinite loop with slow connections"
Using the `isSearchStalled` props received from `connectStateResults` with a slow internet connection causes the page to re-render endlessly 🥲

![Capture d’écran 2021-04-20 à 14 33 33](https://user-images.githubusercontent.com/30866152/115397230-2a59a480-a1e6-11eb-861b-91715d7a5e98.png)

You can try it by adding the following code to the playground :

[code]

Replace then the `InfiniteHits` comp

[2021-04-20 20:47] bidoubiwa commented on #374
Thanks a lot for pointing out this bug @mdubus!  We'll have to investigate this bug as it seems quite complex. Maybe the solution is to add `caching`.

[2021-04-26 13:39] bidoubiwa opened #375 "skip-changelog is not added on dependencies update in subfolder"
Example:  https://github.com/meilisearch/instant-meilisearch/pull/373

Is still added in the release drafter.

We should add `skip-changelog` when `dependencies` label is present

[2021-04-28 13:36] bidoubiwa opened #379 "Restructure files to enable easy testing"
Previously functions were all inside `instantmeiliSearch` which would have made integration testing complicated as we would only be able to do e2e.

Methods should be separated and imported so that we can import each individual function into a test file.

[2021-04-28 13:49] bidoubiwa opened #380 "Make transform function available to the package user"
## Explaination

InstantMeiliSearch under the hood simply transforms a MeiliSearch search response into a search response structure [`instantSearch.js`](https://github.com/algolia/instantsearch.js) needs.
InstantSearch is the library we use that creates all UI components.

If we go even further, we realise that this search response `instantSearch.js` needs is also the search response `algoliaClien

[2021-04-30 01:12] bidoubiwa opened #381 "Communicate MeiliSearch error to instantSearch"
In case of error, MeiliSearch sends it usual body to instantSearch. Resulting to this:

[code]

We should either stop the return process to instant search or find how to communicate it properly to instantsearch

[2021-04-30 12:08] bidoubiwa opened #382 "Determine compatibility of every instantSearch fonctionallity with MeiliSearch"
## Problem

The most commonly used component in `instantSearch` are working when using `instant-meilisearch`.
But some may not be because of either limitation from meilisearch/meilisearch itself or from a lack of implementation in `instant-meilisearch` itself.

## Solution

I'm working actively in creating a list that will cover all the compatibility.

[2021-05-01 21:49] EricPaulson commented on #381
Seconded. The lack of info this message is providing me while trying to get this set up is costing me a significant amount of time.

[2021-05-03 10:11] bidoubiwa opened #384 "Change InstantMeiliSearch class Parameters"
For clarity and cleaning parameters have been removed and renamed:

See #378

[2021-05-03 10:51] bidoubiwa opened #385 "Add tests watch mode"
To improve tests creation it is usefull to run some tests only on a specific file. To be able to do this we have to add [jest-watch-typeahead](https://www.npmjs.com/package/jest-watch-typeahead)

[2021-05-03 17:07] bidoubiwa opened #388 "Determine compatibility with instantSearch"
fixed by: #417

# Compatibility

All bulletpoints that have been crossed are UI related and do not need to be tested.

Every bullet point starting with a ⚠️ is not compatible with instantMeiliSearch.

## Basics

- [x] instantsearch: The main component of InstantSearch.js. This object manages the widget and lets you add new ones.
  - ~indexName~
  - ~searchClient~
  // Optional parameters
  - ⚠️ nu

[2021-05-03 17:08] bidoubiwa opened #389 "Needs updated: Compatibility with algoliaSearch parameters"
# Compatibility

All bulletpoints that have been crossed are UI related and do not need to be tested.

Not compatible features list at the end of the issue.
Not compatible parameters start with a ❌.

## search

- query: The text to search in the index
❗️ Not tested because completely ignored by instantSearch

- similarQuery: Overrides the query parameter and performs a more generic search that can

[2021-05-05 09:46] bidoubiwa opened #391 "When primarykey is provided, get is even when not present in attributesToRetrieve"
When we use the configure method the following way:

[code]

The returned object from `MeiliSearch` will not provide the primary key attribute inside the hits. Even when it has been configurated on client initialization:

[code]

Resulting in the following error in a react environment:

[code]

## Suggested solution:

To avoid this error when the primary key has been provided we should always add

[2021-05-05 11:55] #379 closed

[2021-05-05 11:55] #380 closed

[2021-05-05 11:55] #384 closed

[2021-05-05 11:55] #385 closed

[2021-05-12 09:35] curquiza opened #402 "Add dependabot.yml"
Use the native depenbabot

[2021-05-19 01:10] bnfd opened #404 "TypeError: Cannot read property 'toLowerCase' of undefined"
Hi,

I adapted the code from the example at https://codesandbox.io/s/mese9 and used my own index. When I type the letter 'j' or 'l' on the searchbox, I get 0 results displayed and `` "TypeError: Cannot read property 'toLowerCase' of undefined '' on the console.
If I type "jop" I am getting 1 result (as expected). If I type "j" or "jo" I get 0 results displayed.

When I type "j" on the default web

[2021-05-21 19:44] bidoubiwa commented on #371
Hey @Jonesus ! Very sorry to come back to you only now. Your PR flew under the radar. It will be fixed with #403

[2021-05-21 20:39] Jonesus commented on #371
Hi @bidoubiwa ! Glad to hear you found the issue, no probs with the timeframe, it's open source after all and was quite easy to account for on my end by not having empty strings :)

[2021-05-24 08:06] #371 closed

[2021-05-24 08:06] #404 closed

[2021-05-24 10:39] #402 closed

[2021-05-24 12:25] bidoubiwa opened #407 "Is it possible to snippet and highlight in InstantMeiliSearch"
When using `Snippet` component contrary to Algolia it does not highlighted it. InstantSearch uses the root object and snippets it in the front and not in the back.

[2021-05-24 12:41] bidoubiwa commented on #407
It is possible but you also have to use `attributesToHighlight` in the configure component. Because you add a field in `attributesToHighlight` it is going to override the `<Highlight>` components. So you have to also add the other `Highlight` components you are using:

For this to work
[code]

You will need the following in Configure
[code]

[2021-05-24 12:41] #407 closed

[2021-05-26 10:44] bidoubiwa opened #410 "Insight fonctionality compatibility"
Insight is a feature provided by instantSearch to help user track search analytics.

It is accessible in the [`InstantSearch`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/js/#widget-param-insightsclient) component. Where it asks for an `insightClient`.

[code]

This feature seems to be working best with algolia [insight library](https://github.com/algolia/search-insights.js) as

[2021-05-28 08:28] gmourier opened #420 "Nobel prizes demo url is unreachable in html playground folder"
http://nobel.meilisearch.com/ is unreachable! However, I don't know if the issue should be put directly on this repository? Let me know! I put it here anyway to share it somewhere :)

[2021-05-28 11:53] bidoubiwa commented on #420
Hey, it is hosted on codesandbox. https://codesandbox.io/s/nobel-prizes-and-meilisearch-zdy1r?file=/src/main.js:0-23
I think the link you gave is to the meilisearch instance maybe, and if it is in production we do not have access to the dashboard

[2021-05-28 15:05] gmourier commented on #420
Thanks @bidoubiwa! I should have mentioned that I followed the link in the README.md https://github.com/meilisearch/instant-meilisearch/blob/main/playgrounds/html/README.md

[2021-05-28 15:42] bidoubiwa commented on #420
Ah yes! I will change that :) thanks a lot

[2021-06-01 12:01] bidoubiwa opened #424 "NumberLocale option not working"
InstantSearch has an option called [`numberLocale`](https://www.algolia.com/doc/api-reference/widgets/instantsearch/js/#widget-param-numberlocale) that will format number based on the provided language code.

Unfortunately since I couldn't make it work using [algoliasearch](https://github.com/algolia/algoliasearch-client-javascript) I cannot compare its compatibility with instantMeiliSearch.

We s

[2021-06-01 16:26] bidoubiwa opened #425 "Test compatibility with previous versions of instantSearch"
As for now we only make tests using instantSearch v4, we should also be testing the others to help users determine if they can use instantMeiliSearch

[2021-06-01 16:32] curquiza commented on #425
Hum do you mean instant search v3?
The first release of the v4 was released more than 2 years ago. It's not relevant to spend time checking if we are compliant or not with v3 from my POV. Instantsearch v4 is enough. Even for Algolia, 2 years is huge.
But we should indeed note it in the README: we maintain this package for instant-search v4 only.

[2021-06-01 16:36] bidoubiwa commented on #425
You thought about it at the same time I did. The PR has been updated with the compatibilities.

[2021-06-01 16:36] #425 closed

[2021-06-01 16:50] bidoubiwa commented on #337
fixed by: #417

[2021-06-01 16:51] bidoubiwa commented on #294
fixed by:  #409

[2021-06-01 16:51] #294 closed

[2021-06-01 16:51] bidoubiwa commented on #227
Fixed by: 409

Puppeteer has been removed in favor of cypress

[2021-06-01 16:51] #227 closed

[2021-06-01 16:53] bidoubiwa commented on #248
Has been fixed when `env` folder has been removed #409

[2021-06-01 16:53] #248 closed

[2021-06-01 16:53] bidoubiwa commented on #370
Has been fixed with implementation of tests #409

[2021-06-01 16:53] #370 closed

[2021-06-01 16:54] bidoubiwa commented on #12
Fixed by: #409

[2021-06-01 16:54] #12 closed

[2021-06-01 16:55] bidoubiwa commented on #49
Fixed in instantSearch v4

[2021-06-01 16:55] #49 closed

[2021-06-02 15:01] #420 closed

[2021-06-04 12:44] bidoubiwa opened #427 "Remove support for node 10"
Node 10 is the end of life since `April 2021`. It becomes more and more unsupported by the libraries we use in our different JS project. Until now we had to make a workaround to keep compatibility with node 10.

As for the official EOL of node, we should also drop support for node 10 and stay up-to-date with the libraries that upgraded without node 10 support.

See [related documentation](https://

[2021-06-04 12:48] bidoubiwa opened #428 "Confirm compatibiliy with node 16"
**Description**
Node 16 is now the latest version of node.  It is not the `active` version yet so we should not proactively confirm compatibility with node 16. Nonetheless, the 26 October 2021 node 16 will become the active version and this is a reminder for that we have to guarantee compatibility.

[See node releases status](https://nodejs.org/en/about/releases/)

**Environment (please complete t

[2021-06-04 12:54] bidoubiwa commented on #427
Duplicate of #255

[2021-06-04 12:54] #427 closed

[2021-06-06 20:39] sanders41 commented on #428
I have Node v16.1.0 installed and haven't seen any issues. All tests in the test suite pass.

[2021-06-07 12:22] curquiza commented on #428
We should test multiple versions of Node.js in our CI

[2021-06-07 16:05] sanders41 commented on #428
Currently CI is using Node 12. Node 14 is the current active LTS version so maybe worth adding that one also if you plan to add multiple versions? Node 14 goes to maintenance mode 2021-Oct-19, but its end of life isn't until 2023-Apr-30.

[2021-06-08 01:00] sanders41 commented on #424
As best as I can tell `numberLocale` is only used with the templating in `HoganHelpers` `helpers.formatNumber` like `{{#helpers.formatNumber}}{{count}}{{/helpers.formatNumber}}`, but I can't figure out how to how to use the templating. I am only making assumptions here because this is how I can find it being used in the tests. I can't find any reference at all on how to use the `numberLocale` or `

[2021-06-08 11:19] bidoubiwa commented on #428
Yes, we need to test and confirm support for node 16 for the `the 26 October 2021`, but before it is not mandatory. This is a reminder issue

[2021-06-08 11:24] bidoubiwa commented on #424
Yes, this should be an issue in [instantSearch's repos](https://github.com/algolia/instantsearch.js), thanks a lot for trying!

[2021-06-09 12:50] bidoubiwa commented on #428
/remind me to check compatibility with node 16 on 01/10/21

[2021-06-09 12:53] curquiza commented on #428
/remind me to check compatibility with node 16 on 01/10/21

[2021-06-28 19:10] #382 closed

[2021-06-28 19:10] #337 closed

[2021-07-03 23:58] fr3fou opened #434 "How do I disable `placeholderSearch` but only for a specific index?"
I want to disable `placeholderSearch` for one of my indexes, but have it enabled for others, how do I achieve that?

[2021-07-04 11:15] fr3fou commented on #434
Found a workaround solution
[code]
And then I provide that Client to `<InstantSearch />`

[2021-07-04 11:15] #434 closed

[2021-07-06 09:36] mdubus opened #435 "`<em>` tags appear inside arrays"
**Description**
By using the v0.21 of MeiliSearch with the version 0.5.0 of Instant MeiliSearch, I receive some fields with `<em>` tags inside.
These tags are not present by using the v0.20 of MeiliSearch.
This might be fixed with the upgrade of Instant MeiliSearch with the v0.21 of MeiliSearch.

**Expected behavior**
Not sure. Investigation needed to see where it comes from.

**Screenshots or Log

[2021-07-28 11:13] curquiza commented on #435
@bidoubiwa can you check upgrading MeiliSearch to v0.21 with your new version of instant-meilisearch fixes this issue?

[2021-07-29 00:33] haoyun commented on #48
because of the lack of `searchForFacetValues`, an `InstantMeiliSearchInstance` is not a `SearchClient` instance from `instantsearch.js`.

https://github.com/meilisearch/instant-meilisearch/blob/a59ac0edbe46b9f8171e0b472ab0321da72de8d1/src/types/types.ts#L117-L122

https://github.com/algolia/instantsearch.js/blob/16cc34155d8af25893db3e521b4a1da26ce591e4/src/types/algoliasearch.ts#L33-L42
[code]

On

[2021-07-29 08:19] bidoubiwa commented on #48
Hello @haoyun
Until recentely `searchForFacetvalue` was optional in the SearchClient. I will add the method returning an empty response and raising a warning explaining why it does not work.

Thanks so much for raising this :)

[2021-07-29 08:22] bidoubiwa opened #460 "Missing addForFacetValue in the SearchClient makes im not compatible for typescript users"
**Description**

see #48
Thanks a lot to @haoyun for raising this

When using typescript a searchClient has to response to the search client interface

[code]
Accessible here: https://github.com/algolia/instantsearch.js/blob/16cc34155d8af25893db3e521b4a1da26ce591e4/src/types/algoliasearch.ts#L33-L42

Until recently it was an optional method.

**Expected behavior**
The method should be present to m

[2021-07-29 13:49] haoyun commented on #460
I am using `"instantsearch.js": "4.25.1-experimental-typescript.0",` . Currently I forcibly cast `instantMeiliSearch` as `SearchClient`
[code]

Typescript support in `instantsearch.js` is still an experimental feature. But their recent releases are all about the TS support.

[2021-07-29 14:57] bidoubiwa commented on #460
That is very good to know @haoyun, thanks for checking this out so quickly :) Let me make a fix

[2021-08-15 19:22] mehmetron opened #481 "Error when trying to search for facet using Menu component"
Error:
[code]
Here's a codesandbox. The error happens when you type in the search box on the left panel
https://codesandbox.io/s/elastic-joliot-dw7hk?file=/src/App.js

How do you solve this error?

[2021-08-16 08:32] curquiza commented on #481
Since MeiliSearch cannot search in facet values (this is a feature of Algolia), instant-meilisearch cannot provide `searchForFacetValues`. The README.md of this repo describes all the compatibility, and this one is not available at the moment -> https://github.com/meilisearch/instant-meilisearch#-refinementlist

[2021-08-19 12:51] bidoubiwa commented on #388
fixed by: #417

[2021-08-19 12:51] #388 closed

[2021-08-19 12:57] #481 closed

[2021-08-20 18:58] bnfd opened #484 "populating refinementList"
I'm confused about the left panel (refinementList) in the demo (https://codesandbox.io/s/ms-is-mese9).
How do I create populate my own refinementList like "genres"? Do I have to set a new attribute for faceting called "genres"?

The relevant snippet:
[code]
Is `container` only for CSS?
Does `attribute` "bind" to a facet?

[2021-08-20 23:58] bnfd commented on #484
Also, how can I add widgets for new facets dynamically as they get created?

[2021-08-23 08:15] bidoubiwa commented on #484
Hello @bnfd to add your own refinement/facet/filter to you need to first add them into the settings of your MeiliSearch instance. This [guide](https://docs.meilisearch.com/reference/features/faceted_search.html#setting-up-facets) should help you.
Once the attribute has been added to the settings you will be able to use it as a refinement!

They are populated automatically based on the values found

[2021-08-25 13:38] kent1D opened #501 "Cannot read property 'Readable' of undefined"
Loading https://cdn.jsdelivr.net/npm/@meilisearch/instant-meilisearch@0.5.1/dist/instant-meilisearch.umd.js (same for the minified version) we obtain the following javascript error :  `Uncaught TypeError: Cannot read property 'Readable' of undefined`

It's followed by : `Uncaught ReferenceError: instantMeiliSearch is not defined`

Is it because of the use of "require" at the top of the file ?

Tha

[2021-08-25 14:13] 1ed opened #502 "Build error: contains a reference to the file "stream". This file can not be found, please check it for typos or update it if the file got moved."
After updating to 0.5.1 we get this error when building:

[code]
maybe it's related to https://github.com/meilisearch/instant-meilisearch/commit/6f967c4463278011d044f6855b61e7dbd0b1c6fa
and tsconfig changes.

[2021-08-25 16:44] bidoubiwa commented on #501
hey @kent1D, thanks for raising this! The error came from changing the rollup typescript library with the official one that does not include node interop even while adding the option.
I rolled back to the previous plugin and added some tests to ensure this should not happen again :) Thanks!

fixed by #504

[2021-08-25 16:44] #501 closed

[2021-09-12 18:28] ikramooe opened #516 "MeiliSearchApiError: Invalid JSON"
hello ,
i used the demo example and i'm getting this error

MeiliSearchApiError: Invalid JSON: unknown field `filter`, expected one of `q`, `offset`, `limit`, `attributesToRetrieve`, `attributesToCrop`, `cropLength`, `attributesToHighlight`, `filters`, `matches`, `facetFilters`, `facetsDistribution`

ANY HELP ?

[2021-09-13 15:44] bidoubiwa commented on #516
Hello! Thanks for the issue :)
This is because we need to release this PR to be compatible with MeiliSearch v0.22.0 #509
It should be released tonight or tomorrow!  meanwhile I would suggest you keep using meilisearch v0.21.0 or you use the branch `bump-meilisearch-v0.22.0` in your `package.json`
like this:

[code]

In which case you can keep using meilisearch v0.22.0!

[2021-09-13 16:13] bidoubiwa commented on #516
My bad, it seems that your error is due to the fact that you are still using meilisearch v0.20.0! Consider updating to v0.21.0 (or v0.22.0 as soon as we release the compatibility).

If you prefer not updating your MeiliSearch instance, you can rollback to the previous version of instant-meilisearch v0.5.1!

[2021-09-13 16:28] YikSanChan opened #520 "Pagination should cache hits from the first call"
**Description**
I am using `SearchBox` and `Pagination` together.

**Expected behavior**
After the first call, since all the following calls are identical, the component can simply cache the first call results and reuse.

**Current behavior**
It sends `search` API call with param `limit=200` every time the user clicks the next page.

**Environment (please complete the following information):**
- O

[2021-09-13 16:32] YikSanChan opened #521 "InfiniteHits should not over-fetch"
**Description**
I am using `SearchBox` and `InfiniteHits` together.

**Expected behavior**
Let's assume there are 1000 search results in total. The `search` API call only gives me 20. After I click "load more", it calls `search` API to fetch the next 20.

**Current behavior**
When I enter the search keyword, the `search` API call gives me 200. After I click "load more", it makes exactly the same A

[2021-09-13 18:22] bidoubiwa commented on #520
MeiliSearch does not provide the number of potentials hit after a search request. Because of that we enforce a hard limit on the number of hits that may be returned (see #18) to be able, on the pagination widget, to have a "last number".

We need the a given limit to be able to have `>>` going to the last page.
ex: `<< < 1, 2, 3,.. > >>`

This limit can be improved or reduced [using the `hitsPerPa

[2021-09-13 18:30] bidoubiwa commented on #521
Hey @YikSanChan Thanks for you issue!

To make infiniteHits not depend on `hitsPerPage` which is the option that changes the `limit` to 200 we have to determine the following:

- Is instant-meilisearch is aware of the user widget? Do we know if the user uses `pagination` or `infiniteHits`

### instant-meilisearch is able to tell the difference

if we use inifniteHits: ignore `paginationTotalHits`

[2021-09-21 09:53] bidoubiwa commented on #435
I put it on `good first issue` for someone to investigate this behavior

[2021-09-22 09:07] MoritzLost opened #527 "How to configure sort parameter without the sortBy widget"
I want to add a default [sort parameter](https://docs.meilisearch.com/reference/features/search_parameters.html#sort) to my InstantSearch page, but I can't figure out how to (statically) add that parameter to the search. The documentation only explains how to pass the sort parameter when interacting with the meilisearch client directly, but I haven't found a way to configure that parameter when us

[2021-09-22 20:53] bidoubiwa commented on #527
Hey! Could you give me information about why it didn't work with configure? Do you have a code example of what you tried out?
Also do you maybe have an example of instantSearch making this possible?
I quickly tried to make a sort with `configure` but I stopped as there was an issue since sortby works with index names, maybe it was different for you.

I hope we can find it out as I was hoping findi

[2021-09-23 08:37] MoritzLost commented on #527
@bidoubiwa Hi, thanks for the reply! I tried multiple syntaxes for specifiyng the sort parameter, but I couldn't find a resource on how to pass that parameter statically. There's the [documentation page for sorting at search time](https://docs.meilisearch.com/reference/features/sorting.html#sorting-results-at-search-time) which explains how to pass that parameter to the API. Based on this one, the

[2021-09-23 08:49] bidoubiwa commented on #527
Hey @MoritzLost! No you are not, i'm not sure this is possible as we are depedent on how instantsearch communicates the information. I will give it a better look and come back to you asap

[2021-09-26 20:36] #516 closed

[2021-09-26 20:37] bidoubiwa commented on #516
Can I assume this is fixed? If not reopen!

[2021-09-27 18:45] #460 closed

[2021-09-27 19:31] #435 closed

[2021-09-27 19:37] bidoubiwa commented on #520
Working on it @YikSanChan if you want to take a look #533

[2021-09-28 14:01] bidoubiwa opened #535 "Check for Vue.js v3 compatibility"
`vue-instantsearch`  was (and maybe still is) not compatible with vue3.
An investigation should be made to figure out if instant-meilisearch is compatible with vue3.

Follow these steps to start investigate:
- Create in `playground/` a new dir called `vue3`
- Create a new Vue.js v3 project
- Install the required packages for vue and instant-search to work (instantsearch.js, vue-instantsearch, ..)

[2021-10-02 22:26] chamby opened #538 "ToggleRefinement is broken due to unadapted filter"
**Description**

My Vue application is using ToggleRefinement for the field `available_for_sale`. It results in an incorrect filter being sent with the request. All colons are not correctly being converted.

Request body:
[code]

**Expected behavior**
All filters should have colons replaced with equal signs: `"available_for_sale=true"`.

**Current behavior**
The filter `"available_for_sale:true"`

[2021-10-03 01:30] chamby commented on #538
Nevermind, I was manually setting `helper.state.filters = "available_for_sale:true"` in the `search-function`. I missed that.

[2021-10-03 01:30] #538 closed

[2021-10-03 02:28] chamby opened #539 "SortBy should allow for multiple sort attributes at query time"
**Description**
SortBy should allow for multiple sort attributes at query time.

**Basic example**
[code]

This sort formula is probably not ideal for parsing, it is just an example.

[2021-10-04 08:47] bidoubiwa commented on #539
Thats a good idea. Yes, unfortunately, we are bound to the props instantSearch provides. I don't really see a better way of delimiting the multiple options. A split on `,` should do the trick. The question is, what happens when a field contains commas, and, should we care?

[2021-10-04 13:05] bidoubiwa commented on #535
Since vue instantsearch 4 is released it now supports Vue3.

Related comment: https://github.com/meilisearch/meilisearch-vue/issues/18#issuecomment-933315900

[2021-10-04 14:26] chamby commented on #539
The user (developer) has control over these strings, whatever delimiter is chosen can be escaped by the user in the tag names. The parser could then process escape sequences before splitting.

[2021-10-05 10:05] bidoubiwa commented on #28
Since matches do not work when using cropping (see [this issue](https://github.com/meilisearch/MeiliSearch/issues/1490)) is this still something we want?

[2021-10-05 10:06] bidoubiwa commented on #48
Closed as it will be added in instant-meilisearch once searching in facets is available in MeiliSearch

[2021-10-05 10:06] #48 closed

[2021-10-05 10:19] bidoubiwa opened #544 "Add documentation on how to sort facets"
In the [`refinementList` chapter](https://github.com/meilisearch/instant-meilisearch/#-refinementlist) we should add information on how to use `transformItems` so that the user knows how to play around with their facets list.

For example using instantsearch in javascript adding a highlighting on the facets would look like this:

[code]

We should add an example showcasing how to order them by alp

[2021-10-05 10:23] curquiza commented on #28
No sure, feel free to close if you think it's not relevant :)

[2021-10-05 10:27] bidoubiwa commented on #163
- How to crop a field is fixed by #530
- How to sort the facets: See issue #544
- How to remove the zero facets count fixed by MeiliSearch, exception for the checked facets with a count of 0. They always appear see #458
- How to customize pagination, is [this documentation](https://github.com/meilisearch/instant-meilisearch/#customization) enough or should we add more ?

[2021-10-05 10:28] bidoubiwa commented on #255
Fixed by #427

[2021-10-05 10:28] #255 closed

[2021-10-05 10:33] #520 closed

[2021-10-05 10:39] bidoubiwa commented on #28
Closing as `matches` do not correspond to the feature we need

[2021-10-05 10:39] #28 closed

[2021-10-05 10:40] bidoubiwa commented on #375
Fixed

[2021-10-05 10:40] #375 closed

[2021-10-05 10:48] bidoubiwa commented on #381
Fixed by #216

[2021-10-05 10:48] #381 closed

[2021-10-05 10:51] bidoubiwa commented on #484
Closing due to lack of answer. Feel free to re-open if problem persist

[2021-10-05 10:51] #484 closed

[2021-10-05 10:51] bidoubiwa commented on #424
Closing due to issue not being linked to instant-meilisearch

[2021-10-05 10:51] #424 closed

[2021-10-05 10:54] bidoubiwa commented on #539
So the implementation would be to split the different sorting queries with commas, and then populate the sort query parameter with all the sorting requests.

- [ ] implement multiple sorting
- [ ] Add tests
- [ ] Update docs

[2021-10-11 12:33] bidoubiwa opened #551 "GeoSearch middle point calculation fails on big dezoom"
⚠️ related to this PR, does not need solving before it is merged #543

**Description**
GeoSearch works correctly at determining the central point of the box when the view is not dezoomed. How more you dezoom on very big world views, how more you lose in accuracy.

Explaination:
In MeiliSearch, the user provides `one geoPoint` around which all the search is done. MeiliSearch uses the [`haversine fo

[2021-10-12 14:52] daniel-shuy commented on #369
Created a PR to fix this at #552

[2021-10-13 13:56] bidoubiwa opened #554 "Add a instantMeiliSearch parameter to sort geopoints by proximity to the center of the map"
## Current Behavior

When moving inside the Google Maps, search results are returned based on its position.
To determine what documents should be returned, instant-meilisearch calculates the middle point of the Maps window and the distance between each corner.
It then creates a filter (see [geo filter documentation](https://docs.meilisearch.com/reference/features/geosearch.html#filtering-results-w

[2021-10-13 18:38] bidoubiwa opened #555 "Make insidePolygon compatible"
⚠️ related to this PR, does not need solving before it is merged #543

MeiliSearch needs a geographic point around which it will search for hits. InstantSearch provides an `insideBoundingBox` that is defined by two geo points.

To determine the center point of the insideBoundingBox, instantMeiliSearch uses a [Geographic Midpoint Algorithm](http://www.geomidpoint.com/calculation.html). It only hand

[2021-10-14 09:18] SafaLabash opened #556 "deep object search"
**Does anyone have any idea how to work around the missing functionality -search in deep objects  functionality?
for example:
tasks{
category{
name
parent{
name
     }
  }
}
.I want to pass category.name or category.parent.name**

[2021-10-18 15:27] chamby opened #562 "paginationTotalHits has different behavior in v0.5.6"
**Description**
[code]
`paginationTotalHits` no longer sets `limit` on the search request.

**Expected behavior**
I assume v0.5.5 functionality is correct. `paginationTotalHits` should set `limit` on the search request. This combined with
[code]

would allow for faux infinite scroll behavior up to the `paginationTotalHits` value.

**Current behavior**
In v.0.5.6 `paginationTotalHits` no longer set

[2021-10-19 15:50] #562 closed, assigned to nobody

[2021-10-24 14:35] bidoubiwa opened #569 "Add option to re-fetch on every next-page and load more."
Original comment: https://github.com/meilisearch/instant-meilisearch/issues/389#issuecomment-947694787

## Problem

On the first search query, we are fetching by default `200` hits that can be changed using `paginationTotalHits` in the parameters. The reason we do this is because of the pagination widget needs to add the possibility to go to the last page:

<img width="431" alt="Screenshot 2021-10

[2021-10-26 09:00] mdubus opened #573 "Additional `\n` inside `_highlightResult`"
**Description**
After upgrading from v0.5.0 to v0.5.6, I noticed that the objects and arrays inside `_highlightResult` have extraneous `\n`.

** Current return values **

[code]

** Expected return values **

[code]

**Documents example**

[code]

[2021-10-26 09:18] mdubus opened #574 "Load more button only works when paginationtotalhits option is at least two times bigger than hitsPerPage"
**Description**
By setting `paginationTotalHits` to > than 40, the pagination works. But by setting it to less than 40, it doesn't.
Looks like if there is less than 2 pages to display, it doesn't work.

[2021-10-26 14:16] bidoubiwa opened #577 "Remove snippetEllipsisText when string is smaller than snippetSize"
**Description**
For the moment if the string value is smaller than the snippet size. For example

On `description`:
- Snippetsize = 20
- Content: `Hello world`

We still finish with `Hello world..`

**Expected behavior**
When the content is smaller than the snippetsize it should be `Hello World` without the ellipsistext

[2021-10-26 15:09] bidoubiwa opened #578 "Remove public MeiliSearchClient from the InstantMeiliSearchClient"
As for now it is possible to use the MeiliSearchClient through instantMeiliSearchClient. For example:

[code]

While this is handy, ,it also means that every breaking change of `meilisearch-js` is passed to `instant-meilisearch`.
As it is as heavy to install both packages separately and since it does not add complexity, we should remove `MeiliSearchClient` from the instant meilisearch client.

[2021-10-26 15:31] #574 closed, assigned to nobody

[2021-10-26 17:05] #573 closed, assigned to nobody

[2021-10-29 17:02] chamby opened #580 "Array data type throws exception with recent changes to highlight-adapter.ts (v0.5.7+)"
**Description**
Array type data being processed for highlighting throws an exception originating from highlight-adapter.ts

[code]

**Expected behavior**
No exceptions should be thrown, array data types should be correctly processed.

**Current behavior**
Array type data being processed for highlighting throws an exception originating from highlight-adapter.ts

**Screenshots or Logs**
[code]

**En

[2021-11-02 10:14] bidoubiwa commented on #580
Hey @chamby thanks for raising this error. I will look into it :)

[2021-11-02 11:48] bidoubiwa commented on #580
Could you show me how you configurated your instantsearch components for `product__tags__ids` ?

[2021-11-02 15:04] chamby commented on #580
Actually, I am not making use of `product__tags__ids`. All attributes are being fetched and highlighted in the query, not explicitly, just by default.

[code]

In the course of processing the response, this exception is thrown.

[2021-11-03 10:44] curquiza opened #588 "Abort requests"
Instant MeiliSearch should be able to abort requests when the front-end is sending multiple requests (when the users are typing faster than the MeilISearch answer for example)

Using: https://github.com/meilisearch/meilisearch-js#abortable-search-

[2021-11-10 11:30] bidoubiwa commented on #580
Thanks @chamby I will look into this. Sorry for the bug. If you have any idea on how to resolve it feel free to make a PR. If not, I will fix it asap

[2021-11-10 16:06] grimmer0125 opened #595 "Add "angular" into GitHub repo topics so that using "angular meilisearch" can find out this repo"

[2021-11-11 10:50] bidoubiwa commented on #595
Hey @grimmer0125
I'm not an angular expert, could you elaborate on what `angular topics` is ?

[2021-11-11 10:54] grimmer0125 commented on #595
I'm sorry that the issue title is not clear. It just means that adding "angular" to the current GitHub repo topics list: `react client vue js instantserach hacktoberfest meilisearch` which locates below "about" on the right side of the current repo page.

[2021-11-11 10:57] bidoubiwa commented on #595
I made the changes, thanks so much for noticing this :) If it is what you expected you can close the issue

[2021-11-11 15:51] #595 closed

[2021-11-11 16:49] adhamfarrag opened #597 "Formating markdown attribute"
**Description**
Using Strapi, strapi-meilisearch-plugin and instant-meilisearch here.

Trying to render results from a search bar, typical article model (title, body, etc). And as strapi uses markdown, results come back with markdown syntanx. Tried to modify `ais-highlight` to render article body using [markdown-it](https://github.com/nuxt-community/markdownit-module).

Is there anyway around my p

[2021-11-11 20:25] bidoubiwa commented on #597
Hey @adhamfarrag
Could you show me one of the documents in MeiliSearch? So I can try it out and debug!

[2021-11-11 20:49] adhamfarrag commented on #597
Hey @bidoubiwa Thanks for checking this out.

[code]

It's and index for articles and this is a single article. Is this is what you're asking for ?

[2021-11-11 22:02] bidoubiwa commented on #580
Hey @chamby, I made a fix. It should be released next week if it is approved.
If you want you can already try it out on this branch https://github.com/meilisearch/instant-meilisearch/tree/fix_highlighting_on_undefined

[2021-11-11 22:06] bidoubiwa commented on #597
Yes thanks you :) Could you also provide your whole instant-search component?

[2021-11-11 22:12] adhamfarrag commented on #597
Here you are :)

[code]

[2021-11-12 15:05] ThisIsMyFavouriteJar opened #599 "Filter selection removes other filters, add OR in refinementsList"
Hello, enjoying Meili quite a lot but running in the following issue.
I have a list of products, each with a single brand linked to it:

![image](https://user-images.githubusercontent.com/25418904/141487988-b05ce856-66dc-4dcf-9217-88ef1a1d5d54.png)

When I select a single filter everything works fine, but all other filterable options disappear immediately:
![image](https://user-images.githubuserco

[2021-11-13 21:13] adhamfarrag commented on #597
Hi @bidoubiwa! I tried using `marked.js` to generate plain text. Worked inside terminal but gave me the same error with `ais-highlight` component. Tried using `span` tag and it worked. I guess the problem is with binding attribute and strict checking of content type.

[code]

[2021-11-15 10:04] bidoubiwa commented on #597
Hey @adhamfarrag I will be looking into your bug as soon as I have time. We are very busy for the moment. I'll get back to you asap

[2021-11-15 11:36] bidoubiwa commented on #599
Hello @ThisIsMyFavouriteJar
This is something that needs to be implemented in instant-meilisearch!

For the moment we only do `AND` but we should be able to retrieve the `OR` settings that can be passed on through here:

- [RefinementList parameters](https://github.com/meilisearch/instant-meilisearch/blob/a944cd6807a5da346721d8d3f8f398a63e2b1e5d/README.md#-refinementlist)

[2021-11-16 23:49] jasperjorna commented on #599
Hi @bidoubiwa,

Is this on the roadmap for the foreseeable future? And is there a possible way to work around this for now?

[2021-11-17 11:04] bidoubiwa commented on #599
Unfortunately, I don't think it is possible. I have to finish some other tasks before I can look at this improvement.
If you want to make a contribution I can help you in the process and show you where things should be changed

[2021-11-22 16:41] #580 closed

[2021-11-25 01:35] dezyh commented on #599
Hey, I would be interested in working on this feature if no work has been started yet. Would appreciate any advise you have.

[2021-11-25 19:36] bidoubiwa commented on #599
Hello @dezyh and @ThisIsMyFavouriteJar

After rethinking about the problem their are two that are raised by this issue:

## OR operator

I tried it again and in fact it works. I'm sorry for misleading you. You need to change the `operator` in your `refinmentList` widget. Example in react:

[code]

## Do not hide the other values

This part may not be possible as it is due to MeiliSearch design. If

[2021-11-26 09:11] gmourier commented on #599
Hi everyone! 👋

I've created a product discussion for that particular pain point [here](https://github.com/meilisearch/product/discussions/315). Feel free to add your hints and elaborate on this. 😇

We are in the process of establishing the 2022 roadmap and we will certainly work on the facets. Thanks for your feedback.

[2021-11-26 12:28] bidoubiwa opened #612 "Improve ellipsis in snippeting"
An ellipsis is the characters added in front and/or and the end of a sentence to imply it has been cut.

Example:

[code]

It is often followed by a `read more` link to disclose the rest of the text.

In `instantMeilisearch` the ellipsis are added with arbitrary rules that should be improved.

[code]

As mentioned in the comments, ellipsis are added in front of a sentence if it does **not** start

[2021-12-06 18:21] bidoubiwa opened #616 "Be able to use the sort parameter through the configuration widget"
**Description**
As for now to apply a sort to your index you need to use the [`sortby` widget](https://github.com/meilisearch/instant-meilisearch/#-sortby)

Nonetheless, it should be made possible to apply one sort in the [configuration widget](https://github.com/meilisearch/instant-meilisearch/#-configure).

**Basic example**

For example like this

[code]

[2022-01-06 11:47] mik3lov3st3ch opened #631 "InfiniteHits: Function "showMore" is not passed in renderOptions"
**Description**
Function "showMore" is not passed in renderOptions when a custom infiniteHits renderer is set up.

**Expected behavior**
showMore() method should be accessible in render function with const { showMore } = renderOptions;

**Current behavior**
The showMore() method is not part of the renderOptions and cannot be accessed. Bellow is an example code:

`// 1. Create a render function
con

[2022-01-06 11:59] mik3lov3st3ch commented on #631
My fault ... I´ve called:

`const customInfiniteHits = instantsearch.connectors.connectHits(renderInfiniteHits);`

instead of

`const customInfiniteHits = instantsearch.connectors.connect**Infinite**Hits(renderInfiniteHits);`

[2022-01-06 11:59] #631 closed

[2022-01-09 17:50] Tocas97 opened #634 "Transpilation Required When Using Nuxt?"
Hi everyone!
Apologies in advance if this is not the correct place to post this, but I don't really know where else to write this.

I'm currently working on a Nuxt-based project and I'm using this to build a search component.
For performance reasons, I want to take advantage of Nuxt's SSR capabilities to get a few search results up front and then let the client handle any future searches.
I've got

[2022-01-12 16:39] bmpf opened #637 "Not working with the latest version 0.25.0"
**Description**
Cannot connect to latest version 0.25.0
Package version: "0.25.0"

**Expected behavior**
Status Code: 200

**Current behavior**
Status Code: 401 Unauthorized

**Screenshots or Logs**
Request Method: POST
Status Code: 401 Unauthorized
Referrer Policy: strict-origin-when-cross-origin
code: "missing_authorization_header"
link: "https://docs.meilisearch.com/errors#missing_authorization

[2022-01-12 16:47] curquiza commented on #637
Hello @bmpf

This is a documentation mistake on our side [in the README](https://github.com/meilisearch/instant-meilisearch#-compatibility-with-meilisearch-and-instantsearch) -> this package is not compatible with MeiliSearch v0.25.0 yet. It will be compatible before the end of the week :)

[2022-01-12 16:48] curquiza commented on #637
Meanwhile, this beta version is available :)
https://github.com/meilisearch/instant-meilisearch/releases/tag/0.6.0-beta.0

[2022-01-12 17:31] bmpf commented on #637
@curquiza  Thank you, trying out the beta version, waiting for the final one :)

[2022-01-13 15:25] curquiza commented on #637
[v0.6.0](https://github.com/meilisearch/instant-meilisearch/releases/tag/v0.6.0) is out! 🎉

[2022-01-13 15:25] #637 closed

[2022-01-13 16:14] curquiza opened #642 "Cypress tests consitency"
When trying to update this package to be compatible with MeiliSearch v0.25.0, we had some issues with the cypress tests.
We noticed
`Tests / cypress-run` (cf [this file](https://github.com/meilisearch/instant-meilisearch/blob/main/.github/workflows/test.yml)) are not running the same cypress test as `Pre-Release Tests / cypress-run` (cf [this file](https://github.com/meilisearch/instant-meilisearc

[2022-01-15 10:44] bmpf opened #644 "vue-instantsearch: Problems with search, letters disappear"
**Description**
When searching the first word, some letters disappear because of the high latency or big payload, is there a way of using a custom debouncer ? Or decrease the frequency of requests between typing letters.

**Screenshots or Logs**
![ezgif-2-63f0b32322](https://user-images.githubusercontent.com/33966960/149618880-4463a431-afbe-4335-bcc6-e28296b6e7bc.gif)

**Environment (please comple

[2022-01-16 10:27] serdarcevher commented on #644
I suffered from the same issue, managed to resolve it by using the debounced search box component provided in the Algolia documentation:
https://www.algolia.com/doc/guides/building-search-ui/going-further/improve-performance/vue/#debouncing

[2022-01-16 15:50] bmpf commented on #644
Does the  :stalled-search-delay has the same effect? https://www.algolia.com/doc/api-reference/widgets/instantsearch/vue/#widget-param-stalled-search-delay

[2022-01-16 19:30] perdosgit opened #645 "camelCased attributes are not filterable"
Hi,

first of all thanks for the great tool you're providing.

**Description**
After updating to v25 camelCased attributes do not get recognized as filterable anymore although they've been added in the settings.  Used to work with v20-v24. I haven't checked if this is an issue with capital letters in general.

Switching to lowercase and repopulating the database works for now.

**Screenshots or Lo

[2022-01-17 08:57] curquiza commented on #645
Hello @perdosgit sorry the maintainer of the repo is not here this week, I will try to do my best to help you

Can you show me your filterable attributes list?
https://docs.meilisearch.com/reference/api/filterable_attributes.html#get-filterable-attributes

[2022-01-17 09:52] curquiza commented on #644
Hello @bmpf, sorry for this issue, the maintainer of this repo (@bidoubiwa) was not available the previous week, and is still not available this week. She will come back next Monday. Sorry for this bug, be sure she will take care of this bug as a priority when she'll come back :)

[2022-01-17 10:37] serdarcevher commented on #644
Nope, I had tried it first, couldn't get the desired effect. Otherwise I wouldn't bother with creating a new component.

[2022-01-17 11:35] bmpf commented on #644
Hello @curquiza , the solution given by @serdarcevher worked.
I just had to sync the url params passing the querySearch on mounted.

[code]

[2022-01-17 13:59] serdarcevher commented on #644
Weird, I didn't need to sync the URL params to make it work. Did you put it without the original ais-search-box component? This is the way I use it:

[code]

[2022-01-17 16:01] curquiza commented on #645
Hello again @perdosgit

this is an issue we just found on the core-engine side. We will release v0.25.2 soon fixing this bug
See the related issue on the MeiliSearch repo: https://github.com/meilisearch/MeiliSearch/issues/2082

[2022-01-18 10:22] bmpf commented on #644
@serdarcevher Yes, It wouldn't sync with the url .

[code]

[2022-01-18 17:14] curquiza commented on #645
Fixed in [MeiliSearch v0.25.2](https://github.com/meilisearch/MeiliSearch/releases/tag/v0.25.2)! Sorry for this inconvenience!

I close this issue :)

[2022-01-20 11:21] gadangmadhulika opened #650 "How to pass authorization bearer in instant meilisearch"
const searchClient = instantMeiliSearch(
    'http://127.0.0.1:7700',
    'masterKey',
    {
      paginationTotalHits: 60,
      primaryKey: 'id',
    }
  )
Using InstantMeiliSearch react https://github.com/meilisearch/meilisearch-react/

[2022-01-20 14:34] curquiza commented on #650
Hello, which version of instant-meilisearch are you using?

[2022-01-21 07:30] gadangmadhulika commented on #650
HI, Below is the version 0.4.2 and im using latest docker image for meilisearch instance locally and MeiliSearch version is 0.25 and im facing MeiliSearchApiError: The Authorization header is missing. It must use the bearer authorization method in front end. I think we need to pass Authorization bearer in instantMeiliSearrch and how to do that?
const searchClient = instantMeiliSearch(
    'http://

[2022-01-21 09:32] gadangmadhulika commented on #650
I updated the Instant-meilisearch with 0.6.0, then the Authorization Bearer error got resolved and i updated react-instantsearch-dom with the latest version 6.20.0.

[2022-01-24 10:25] bidoubiwa commented on #650
Hello @gadangmadhulika, thanks for your feedback.
It is indeed linked to the version of instant-meilisearch that is compatible with the latest version of MeiliSearch (v0.25.0)

Happy you solved it :)

[2022-01-24 10:25] #650 closed

[2022-01-24 11:36] gadangmadhulika commented on #650
Hi @bidoubiwa
HI, Im receiving the below error in the front end and iam using "strapi-plugin-meilisearch": "^0.5.0" and "@meilisearch/instant-meilisearch": "^0.6.0" in REACT and v0.25 meilisearch instance on AWS.
Please Help
MeiliSearchCommunicationError

[2022-01-24 17:38] bidoubiwa commented on #644
Hello @bmpf and @serdarcevher what was the previous version of MeiliSearch you were using?

[2022-01-25 15:33] bidoubiwa commented on #644
Okey! After hours of trying things out, we think it is linked to the size of the components we ask vue-instantsearch to render. Because they do not have a debouncing system (while `react-instantsearch` and `instantsearch` do have) the bug only appears in `vue`.

To solve the problem even faster you can reduce the [paginationTotalHits](https://github.com/meilisearch/instant-meilisearch/#customizati

[2022-01-25 16:09] bmpf commented on #644
Hello,

Current:
MeiliSearch version: v0.25.1
instant-meilisearch version: v0.6.0
vue-instantsearch version: v4.3.1

Previous :
MeiliSearch version: v0.20.0
@meilisearch/instant-meilisearch: ^0.4.2
vue-instantsearch: ^2.6.0

[2022-01-25 17:04] bidoubiwa commented on #644
@bmpf if it's not to much to ask, i have a few more questions, if you are busy don't worry.
- Do you use `filterableAttributes` ? Are you using `refinmentList`?
- Could you try with 20 for `paginationTotalHits` ?
- What size is your dataset and what size is one element (approximatively), or could you show me one document?
- If you look at the network tab in the devtools of your browser, what size

[2022-01-25 18:27] bidoubiwa commented on #634
Hello @Tocas97
I'm very sorry for the delay I was on sick leave. I'll come back to you asap with an answer.

[2022-01-25 18:59] Tocas97 commented on #634
Hi @bidoubiwa!
Hope you're doing better now 😊
Thanks for checking this out and getting back to me

[2022-01-25 22:38] bidoubiwa commented on #634
First thing is that the instant-meilisearch package should provide by default the path to its un-builded source code. Which is not the case today as I naively put the `umd` build as the default built:

package.json
[code]

If I change this to the following

[code]
It provides a non-builted source code that can then be compiled by your environment however you require it. For example, in your case,

[2022-02-01 15:37] bidoubiwa commented on #642
I totally agree! See #559
Tests are only done on the local react server. Tests on other environments where never really done so I removed them. Playgrounds are still running correctly !

[2022-02-07 14:30] #642 closed

[2022-02-12 10:01] andyalex234 opened #665 "TypeError: this.client.search is not a function"
Hey guys!  I was using Algolia's `instantsearch` in Next.js project, and I come across this bug ```
Server Error
TypeError: this.client.search is not a function
```when I try to call `findResultsState (Component, {meilisearchClient, indexName, searchState})` and I looked at the call stack trace and the problem was in `algoiasearch-helper` at `singleIndexSearch` :point_left: this is a helper functi

[2022-02-14 18:00] bidoubiwa commented on #665
To use instant-meilisearch in SSR mode this is how you use it:

[code]

[2022-02-14 18:00] #665 closed

[2022-02-17 15:34] bidoubiwa opened #672 "Update compatibility with rating menu in the readme"
Rating Menu is now compatible with Meilisearch.

- field can only be integer, (not float)
- field only contains one value

[code]
https://www.algolia.com/doc/api-reference/widgets/rating-menu/js/

[2022-02-18 06:09] ahmetkocadogan opened #673 "Blazor Support"
First of all, thank you for this amazing search tool.

My question is, is Blazor going to be supported lie meilisearch-blazor ?

Thank you.

[2022-02-21 09:27] curquiza commented on #673
Hello @ahmetkocadogan
I moved your issue into the right repo! I let @brunoocasali answer to this question :)

[2022-03-12 11:46] paligiannis commented on #599
@bidoubiwa it seems that even I apply operator="or" values start missing. Try with the brand facet [here](https://anelixi.com.gr/category/store/paidika-vrefika/paichnidia/paidika-paichnidia/paidika-pazl)

[2022-03-12 15:52] bidoubiwa commented on #599
Hello yes, unfortunately this is disjonctive facet search when working between different facets. This is something that must be implemented either in instant meilisearch or meilisearch itself. I need to create a detailed issue explaining what needs to be done.

[2022-03-13 16:29] paligiannis commented on #599
Hi @bidoubiwa i will someway implement if now and I will update you soon if there is any temp solution

[2022-03-14 08:54] paligiannis commented on #599
@bidoubiwa Why on v0.6 seems that this is implemented?
<img width="1064" alt="Screenshot 2022-03-14 at 10 52 11 AM" src="https://user-images.githubusercontent.com/10850092/158137729-78cd3108-528c-41f4-a53e-38eaddd2d48a.png">

[2022-03-15 13:20] maryamsulemani97 opened #689 "Search bar code sample not working"
**Description**
The search bar code sample in the [getting started](https://github.com/meilisearch/documentation/pull/1466/files) is not working.
I don’t know if this is a bug or there is something wrong with the steps

**Steps**
1. Created an `index.html` file
2. Copied the code
3. Opened `index.html` in Chrome

**Current behavior**
Using the JavaScript code:
The browser window is blank. The cons

[2022-03-15 14:49] bidoubiwa commented on #689
Thanks a lot I will be checking this!

[2022-03-15 14:52] maryamsulemani97 commented on #689
Yep, same error

[2022-03-16 12:07] bidoubiwa commented on #689
After further investigation, the issue came after the rebranding where the `instantMeiliSearch` was unfortunately renamed to `instantMeilisearch` in the HTML examples.

Could you confirm it works by changing it back to `instantMeiliSearch` @maryamsulemani97 ?

[2022-03-16 12:12] bidoubiwa commented on #599
Well it works in the simplified version of `OR` inside the same facet. For example lets say a cloths e-commerce.

You have two facets `type` and `color`.
If in type you check `shoes` and `shirts`. With the `OR` operator you will receive both shirts and shoes.

But if you click on `color: red` the `OR` does not apply with `type`.  Between different facets it is always `AND`.

Can you confirm @gmour

[2022-03-16 12:56] maryamsulemani97 commented on #689
@bidoubiwa thanks for the update!
The code samples for React, JavaScript, and Vue2 work

[2022-03-16 13:22] bidoubiwa commented on #689
<3 Perfect! Closing this issue :)

[2022-03-16 13:22] #689 closed

[2022-03-16 13:31] bidoubiwa commented on #599
Hello! When using `or` it is between two values. For example in a `product` facet if you click on both `shoes` and `shirts` you will see all documents containing both `shoes` or `shirts`. But all the other ones will be removed.

What are you expecting? That the other fields stay but with a `0` value?

[2022-03-17 17:22] bidoubiwa opened #694 "`AND` operator used on the refinementList widget does not work on react."
As explained [in the documentation of instantsearch], the operator `and` or `or` that you can add to a facet is always applying `or` rules.

The `and` operator that is considered the one by default is also not the default one, as the default one in all languages is `or`.

This issue is to keep an eye on the problem and for future users that might wonder why their `and` is not working

[2022-03-17 17:34] paligiannis commented on #599
Hi! Yes, with or statement all values should be accessible to the user, to select for example the facet with value A, B, C, and all the values should remain in the facet area.

[2022-03-17 17:37] bidoubiwa commented on #599
This should fix it #695

[2022-03-19 09:39] paligiannis commented on #599
I see that you are preparing a new pull request and I was wondering from the first place how is that possible for the user to select other value if the values got hidden.

[2022-03-20 18:11] paligiannis commented on #644
I would suggest you to do 2 things that I have seen that the work amazingly!

`
<ais-search-box :class-names="{ 'ais-SearchBox': 'w-100' }">
          <template v-slot="{ currentRefinement, isSearchStalled, refine }">
            <div class="site-header__search">
              <div class="search search--location--header">
                <div class="search__body">
                  <form

[2022-03-21 09:51] bidoubiwa commented on #599
I'm providing this solution as a work-around for Meilisearch's behaviour.
As this is a decision from the Meilisearch engine itself. I suppose that if a value is at `0` there will be no effect on selecting that value. While if the value is still visible that means that there is at least one document, thus selecting that value adds search results.
It is a practice often seen in websites I suppose be

[2022-03-21 10:57] bidoubiwa commented on #556
@gmourier could give insight on this

[2022-03-21 12:06] bidoubiwa commented on #599
Keeping this open to keep track of disjunctive facet search

[2022-03-22 11:46] bidoubiwa commented on #644
Closing this as it is not related to `instant-meilisearch`

[2022-03-22 11:46] #644 closed

[2022-03-22 11:47] bidoubiwa commented on #634
Hey @Tocas97, if you have time could you try again to see if the problem has been solved?

[2022-03-22 15:25] #577 closed

[2022-03-22 16:38] bidoubiwa opened #705 "Improve code coverage during tests"
The coverage is pretty good but some specific files are missing some lines. These should be tested as well

[code]

[2022-03-22 16:41] bidoubiwa opened #706 "Update testing and linting dependencies"
Some dev dependencies, specifically these about linting and testing, are not automatically updated every Monday.
Some of them are becoming not compatible with certain version of dependencies we do update. For example typescript-eslint and typescript itself.

Thus, we should update all of the outdated dependencies.
Use
`npm outdated` to find them.

[2022-03-23 09:32] gmourier commented on #556
This will be supported by the nested field support addition that we aim to release for v0.27.0.

You will be able to specify .e.g `"filterableAttributes": ["category.parent.name"]`:

[2022-03-23 10:21] tijmenamsing opened #709 "placeholderSearch option doesn't work in v0.6.2"
**Description**
Setting the configuration property placeholderSearch to false still shows results for me, even though the query is empty. This is contradictory with the documentation.

It used to work correctly in version 0.6.1

**Expected behavior**
Empty query should not trigger a search and not display results.

**Repro**
https://codesandbox.io/s/ms-angularis-forked-cfrjt4?file=/src/app/app.com

[2022-03-23 12:59] bidoubiwa commented on #709
I'll look into this, thanks!

[2022-03-23 14:17] bidoubiwa commented on #709
It will be fixed in this PR #710

[2022-03-25 12:57] tijmenamsing commented on #709
Thanks!

[2022-03-28 11:03] #569 closed

[2022-03-28 11:03] #521 closed

[2022-03-28 11:07] #578 closed

[2022-03-28 11:11] #709 closed

[2022-03-28 11:14] brunoocasali commented on #578
So, if someone wants to use a direct instance of Meilisearch, do they need to add as a dependency and require it directly?

If yes, can we add something about this in the README/Release notes?

[2022-04-06 15:45] bidoubiwa opened #728 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-04-06 20:44] brunoocasali commented on #728
I thought the landing page will only contain instantMeilisearch implementations (vue, react, angular), not the instant meilisearch itself... 🤔

[2022-04-07 13:26] bidoubiwa commented on #728
It is the vanilla javascript one!

[2022-04-07 14:20] #728 closed

[2022-04-07 18:16] bidoubiwa commented on #163
@curquiza do you think more documentation is required?

[2022-04-07 18:18] bidoubiwa commented on #544
This documentation is covered by the instantsearch documentation and should not be recplicated

[2022-04-07 18:19] bidoubiwa commented on #556
In the new version of meilisearch a [nested field feature](https://github.com/meilisearch/specifications/pull/121) is coming which will make it possible to deep search inside objects!

[2022-04-07 18:19] #556 closed

[2022-04-07 22:34] curquiza commented on #163
It's ok for me, but you are better than me now to say if it's enough or not 😊

[2022-04-08 14:48] bidoubiwa commented on #163
I think it is enough, I hope so at least. Im closing this issue

[2022-04-08 14:48] #163 closed

[2022-04-20 11:18] irevoire opened #736 "Give the possibility to set the attributesToXXX"
**Description**
I noticed that some of our users, for example [meilisearch.com](https:://meilisearch.com), had large documents but only needs one or two fields.
For example in the case of [meilisearch.com](https:://meilisearch.com) we are querying this very large JSON *TWICE* when all we need is actually the two selected fields;
![image](https://user-images.githubusercontent.com/7032172/164218221-

[2022-04-20 12:12] bidoubiwa commented on #736
Hello!
This is a very good suggestion. This should be working as the the [`configure` widget](https://github.com/meilisearch/instant-meilisearch/#-configure) is supposed to handle every [search parameter](https://www.algolia.com/doc/api-reference/search-api-parameters/) of algolia which supports attributesToRetrieve.

I tried it out and it appears to be a bug. When settings a attributesToRetrieve

[2022-04-21 14:07] bidoubiwa commented on #736
fixed by: #733

[2022-05-05 11:39] bidoubiwa opened #748 "Remove support for node 12 and ensure support for node 18"
Node version compatibilities should be changed in the tests and the readme.

See [related issue](https://github.com/meilisearch/integration-guides/issues/196).

### Previous ensured compatibilities:
- Node 12
- Node 13
- Node 14

### New compatibilities to ensure:
- Node 14
- Node 16
- Node 18

## TODO:

- [x] Update requirements/compatibilities in README.md.
- [x] Update node versions tested in C

[2022-05-06 09:57] 3Descape opened #754 "SortBy Index not listed/found"

[2022-05-11 13:34] PolyDevil opened #751 "Links in ReadMe are broken"
**Description**
Some links in readme are not up-to-date

[2022-05-19 12:06] CaroFG commented on #754
Hi again @3Descape,

Thank you for the example and the thorough step explanation. It was indeed my first time running a PHP project 🥳
Indeed, there's a bug. The `sortBy` doesn't seem to work when there is just one option to sort, it works with:

[code]

[2022-06-02 20:33] Zarathustra2 opened #765 "Allow passed API key to be a callback function"
**Description**
Currently one can only pass in a master key for the search but it would be nice  if we could provide a callback function to set the api key.

We hide our meilisearch behind a proxy api, if we could add the users token to each request made by instant meili search we could distinguish between different users and then show the user based on their tier (free, premium) the data they hav

[2022-06-06 11:37] bidoubiwa commented on #765
Hey @Zarathustra2

Having `apiKey` accept both a string and a function is a great addition.
I'm open to add this feature for those willing to contribute

[2022-06-06 11:37] bidoubiwa commented on #751
Hey @PolyDevil
We will be closing this issue as soon as you update your PR :) There is only one error to fix. Tell me if you have no time I will update your code and merge the PR

[2022-06-06 11:41] Zarathustra2 commented on #765
Tbh I am not 100% sure if that is needed after thinking about it more. In most cases you gonna have an `Authentication context` anyways and then one can simply do:

[code]

But having a callback function might add some more benefits that I am right now missing! :)

[2022-06-06 21:05] gpfunk commented on #527
Hey I'm not sure if this is what you're needing, but I managed to do this thru the index name
ie. `movies:date:desc` will use the movies index and sort by date descending. Hope this helps!

[2022-06-07 09:07] CaroFG commented on #754
I am really sorry for the late reply 🙏  Indeed, probably the sortBy widget starts working only when you click on it. So if you need your docs to be sorted on initialization, you probably did the right thing from the beginning:  setting the index name to be equal to the sortBy value.

[2022-06-07 09:26] MoritzLost commented on #527
@gpfunk Thanks for the suggestion! I think I tried that, see my second comment – adding `search_index:postdate:desc` (where `search_index` is the name of the index) to the `configure` widget didn't do anything. Or are you adding this parameter in a different way? It's been a while since I came across this issue, not quite sure I remember all the original context, I'll have to give it a try.

[2022-06-07 16:18] gpfunk commented on #527
@MoritzLost I added it straight to InstantSearch component actually
`    <InstantSearch
      indexName="icons:viewBox:asc"
      searchClient={searchClient}`

[2022-06-08 08:39] bidoubiwa commented on #527
I think it is fixed, thanks everyone for participating and providing help :)

[2022-06-08 08:39] #527 closed

[2022-06-08 09:25] MoritzLost commented on #527
@bidoubiwa Maybe this should be mentioned in the docs somewhere? The docs only mention the [sort parameter](https://docs.meilisearch.com/learn/advanced/sorting.html#using-sort), not sure how to figure out that this parameter is supposed to go on the `indexName` in the context of InstantSearch from there ^^

[2022-06-08 09:48] bidoubiwa commented on #527
@MoritzLost if you have some time could you open an issue asking for additional information on this subject in the documentation?

[2022-06-21 10:47] MoritzLost opened #772 "Document how to include custom sortBy issue"
**Description**

I recently had some issues figuring out how to configure a custom `sort` parameter statically – _without_ using the sortBy widget. As per [this issue](https://github.com/meilisearch/instant-meilisearch/issues/527), the solution is to add the sort parameter directly to the index name (`indexName: 'my_index:my_custom_param:asc'`). This isn't documented anywhere as far as I can tell.

[2022-06-23 09:21] bidoubiwa opened #774 "Implement multi-index search"
Fixed by: #888

Currently `instant-meilisearch` does not support the [`Index` widget](https://www.algolia.com/doc/api-reference/widgets/index-widget/js/).

After some research we discovered that the Index widget does not imply merging the search results of multiple index but instead return them in two separate lists (See [this guide of instant-search](https://www.algolia.com/doc/guides/building-se

[2022-06-23 09:28] bidoubiwa opened #775 "Make facet appearing even when there is no placeholdersearch"
Facets are not showing in case the user has put `placeholdersearch: false`. This is because there is no initial search request made in this situation.

Additionally, it means that the option `keepZeroFacet` (See explaination in this [issue](https://github.com/meilisearch/instant-meilisearch/pull/695_ and [this part of the readme](https://github.com/meilisearch/instant-meilisearch#keep-zero-facets)

[2022-06-23 18:54] impzero opened #776 "keepZeroFacets not keeping facets with 0 matches when using custom search method with search client"
**Description**

Hello, I am trying to preserve the facets from my RefinementList when I select one, but the ones which are not selected disappear.
Let's say we have 3 categories - **clothes**, **shoes**, and **accessories**, clicking on "**clothes**" would hide **shoes** and **accessories** until I unselect **clothes**
I saw in the README that you could provide a `keepZeroFacets` property to the

[2022-06-28 07:56] Sidran83 commented on #776
We have the same problem, the ulselected facets disappear when one is selected in our efinementList. Is there any fix yet?

[2022-06-28 11:35] bidoubiwa commented on #776
Hey! I think this might be linked to #775 but I'm not sure! I will investigate this issue after the pre-release of Meilisearch v0.28.0 ( after 11 july)

[2022-06-29 10:49] bidoubiwa commented on #776
Are you using react by any chance?

[2022-06-30 17:35] tadinski commented on #694
Is there a temporary fix to this?

[2022-07-04 08:43] bidoubiwa commented on #694
Hey! I tried the or operator again on react and it seems to work! Which version of instantsearch dom are you using? Could you provide every version of packages related to instantsearch ?

[2022-07-04 10:28] bidoubiwa commented on #694
Great thanks a lot :)

[2022-07-04 10:28] #694 closed

[2022-07-04 23:01] alcanari opened #789 ""or" operator doesn't seem to work within a refinement list (disjunctive facet search)."
Hi 👋

**Description**

"or" operator don't work within a refinement list.

**Current behavior**

When I click on a refinement list, only the options that have a document in common with the option selected are shown - even if the refinement list is set with the "or" operator.

So - when I have a refinement list with exclusive options (ie. none is shared by a document - in a belong_to/has_one associ

[2022-07-05 16:24] impzero opened #790 "Invalidate client cache"
**Description**

Currently meilisearch's client allows preserving the facets with count of 0 thanks to the `keepZeroFacets` option which can be provided to the constructor of the client. Looks like the client is using a caching system in order to achieve that.

Sometimes this results in unexpected behavior. For example, if I have page A, which displays a list of categories, and when a user clicks

[2022-07-06 10:15] bidoubiwa commented on #790
Hey @impzero

Just to be very sure to understand what your issue is, could you make a gif/screens showing what is happening on screen? Or a demo on [codesandbox](https://codesandbox.io/dashboard)

It would be very very helpful to reproduce it and quickly implement the fix!

[2022-07-06 10:30] bidoubiwa commented on #789
Hey @alcanari
Unfortunately, the way it works today is that if you are doing `and` you have the following results:

<img width="192" alt="Screenshot 2022-07-06 at 12 26 32" src="https://user-images.githubusercontent.com/33010418/177529933-bd415a65-7164-4f07-9e56-096e583e6411.png">
<img width="161" alt="Screenshot 2022-07-06 at 12 26 37" src="https://user-images.githubusercontent.com/33010418/17752

[2022-07-06 15:42] alcanari commented on #789
Hey,

Thank you. I'm not sure I follow. In your examples, you have 3 games that are both Multiplayer and Single Player? If you'd only have games that would be Multiplayer or Single Player (none can be both) - would other facets show up on the using `or`?

Just to make sure I undestand, because I'm already using the [keepZeroFacet](https://github.com/meilisearch/instant-meilisearch#keep-zero-facets

[2022-07-06 15:45] alcanari commented on #789
When you say "this is counterintuitive" -> you mean, the fact that you go from 3 to 7 for Single Player games in the using `or` option?

[2022-07-06 15:57] bidoubiwa commented on #789
Yes ! My bad  I wasn't very clear

[2022-07-06 19:38] alcanari commented on #789
Thank you!

Yes agreed - I understand it's related to the `disjunctive facet search` - got it. Just to be 100% clear - the `or` option on the refinement list right now changes the results of the search, but not the available options to select for now? :)

Also, did you saw my previous message? We're already using `keepZeroFacets` but it doesn't seem to work, which makes it hard to use in a setup w

[2022-07-07 12:03] vanrijs opened #792 "Enhance security on Meilisearch domain"
Hi all!

Ive installed this last week on my Vue/Laravel app and it works great.
Due ive indexed a lot of consumer data, I want to secure my meilisearch url as much as possible.
We use this search option in our CRM so it should not be available to the world.

I tried to add a firewall on meilisearch server and allow only CRM IP but I noticed that the client ip's are doing the requests directly to t

[2022-07-18 06:50] oluademola commented on #792
Hi @vanrijs, you could use API keys. See more information in the [dedicated documentation](https://docs.meilisearch.com/learn/security/master_api_keys.html#protecting-a-meilisearch-instance).

[2022-07-20 08:44] johnwbaxter commented on #789
Is there any idea of when this issue will be resolved? Thanks!

[2022-07-20 09:51] bidoubiwa commented on #789
Hello @johnwbaxter
I cannot guarantee any time for the moment unfortunately :/ I will try to create the issue explaining in details how it should be implemented asap so that contributors may implement it if they want it to be released sooner

[2022-07-20 12:53] andykirk12 opened #797 "keepZeroFacets interaction with cache when pre-populating results does not work"
**Description**
When keepZeroFacets: true, and we  pre-select facets in the refinementList widget - either through the routing method, or by manually setting the value with refinementlist.refine() - we are seeing that the zero-count facets are not being made available. This is not true when we perform the same search manually by clicking the facets from an empty search state.

_Manual Search:_
![i

[2022-07-22 18:42] sc-kknowles commented on #790
I recently forked the code and added the ability to clearCache so I could force a refresh of my search in real time.
[code]

How I use it below. You could add another function to remove based off the cache key or something if needed.
[code]

[2022-07-25 10:08] bidoubiwa commented on #790
Hey @sc-kknowles thanks a lot for this fix. If you want to open a PR with the fix go ahead :) Otherwise I will implement it when I get the chance

[2022-07-25 11:00] bidoubiwa commented on #792
I'll you open a discussion on the product repo. Closing this as it is not the right repo for that conversation

[2022-07-25 11:00] #792 closed

[2022-07-25 11:04] #736 closed

[2022-07-25 17:09] #790 closed

[2022-08-02 10:46] bidoubiwa commented on #748
fixed by #812

[2022-08-02 10:46] #748 closed

[2022-08-04 17:38] chamby opened #820 "Clicking "Load More Results" does not always load more pages of results"
## Description

@bidoubiwa and I debugged this. Charlotte has a suspicion about where the bug lies.

## Expected behavior

Clicking "Load More Results" with the `ais-infinite-hits` widget should load more results as long as there are more pages of results.

## Current behavior

Clicking "Load More Results" with the `ais-infinite-hits` widget sometimes does not load more results even if there are m

[2022-08-11 18:34] ar-siddiqui commented on #599
In our use case, we do not like the meilisearch API not returning 0 facets. We want to show users to see 0 value facets as well so that they can select them. The hack provided by this https://github.com/meilisearch/instant-meilisearch/pull/695 only works when you first do a no filter search, if you directly use a URL with specific rules it would not showcase them as the client does not have anythi

[2022-08-11 18:41] ar-siddiqui commented on #776
I am using react and no matter what I try I can't get 0 facets.

[2022-08-17 07:33] Tragio commented on #774
@bidoubiwa is there any ETA for this? Perhaps 0.29? 🤔 really thank you for your amazing work!!

[2022-08-22 09:29] bidoubiwa commented on #774
Hey @Tragio ! I will keep you updated as soon as I have a better idea on when I will be implementing this :)

[2022-08-22 09:35] bidoubiwa commented on #776
Thanks @ar-siddiqui there seems to be an issue with how React understands the conditionals of facets.

[2022-08-22 09:42] bidoubiwa commented on #599
Hello @ar-siddiqui did you add `keepZeroFacets` in your instant meilisearch options?

[2022-08-22 11:14] ar-siddiqui commented on #599
I am using react and it keepZeroFacets are not making any difference.

[2022-08-22 11:28] bidoubiwa commented on #599
Are you using placeholderSearch at false?

[2022-08-22 11:59] ar-siddiqui commented on #599
No, placeholderSearch is true

[2022-08-22 15:26] bidoubiwa commented on #599
This is the issue, I'll be working on it soon enough and come back to you :)

[2022-08-22 15:47] ar-siddiqui commented on #599
placeHolderSearch is true not false

[2022-08-22 15:49] ar-siddiqui opened #825 "keepZeroFacets does not work with routing"
**Description**
keepZeroFacets does not work in instant-meilisearch react correctly

**Expected behavior**
return 0 facets as well

**Current behavior**
does not return 0 facets

Tried both with and without `placeHoloderSearch`

[2022-08-22 17:15] bidoubiwa commented on #599
My bad

This is the issue. Im currently working on the fix.
Anyway, can you open an issue on the subject? As this issue is not related to your issue. I will be removing the comments made above.

[2022-08-22 18:37] ar-siddiqui commented on #599
https://github.com/meilisearch/instant-meilisearch/issues/825

[2022-08-22 21:24] chamby commented on #820
This may not be a problem with Meilisearch after all. I will verify proper behavior once I have updated our production system. I think this issue was manifested by a change in our search function `<ais-instant-search :search-function="searchFunction">` combined with running outdated Meilisearch-related code at the time.

[2022-08-23 08:31] bidoubiwa commented on #820
Oh! That would be amazing news. I was still confused about how it could have happened

[2022-08-23 08:32] bidoubiwa commented on #825
For history

![image](https://user-images.githubusercontent.com/53625184/159548177-fb5892da-2730-4548-8c61-55394af5d28c.png)

[2022-08-23 08:57] bidoubiwa commented on #825
The issue appears in two circumstances:
- When `keepzerofacets` is used with `placeholdersearch: false` (which is not the case here)
- When `keepzerofacets` is used with rooting (which is the case here)

[2022-08-23 13:47] ar-siddiqui commented on #825
The issue is there even without routing

[2022-08-24 09:16] bidoubiwa commented on #825
In your quoted answer in my comment you are stating

Could you update your issue with more context to be able to understand the issue?

[2022-08-24 16:48] chamby commented on #820
@bidoubiwa Everything seems to be working correctly after fixing an issue in my code and upgrading from v.0.23.x to v.0.28.1

[2022-08-24 16:48] #820 closed

[2022-08-27 00:48] emeagenciadigital commented on #730
For react native Algolia has this but I don’t know if you need a different library

https://www.algolia.com/doc/guides/building-search-ui/going-further/native/react/

[2022-08-27 00:53] emeagenciadigital commented on #730
Did you use meilisearch-react or plain instant-meilisearch or Algolia instant search  ? Please guide me on the library that was used , if you could share some code will be great .

[2022-08-29 15:56] hgulersen commented on #730
@emeagenciadigital for react native, I used `@meilisearch/instant-meilisearch` and `react-instantsearch-native`. `react-instantsearch-native` is maintained by Algolia but you can easily use it with meilisearch as well.

You can initialize the the client using  `@meilisearch/instant-meilisearch` and the hooks from `react-instantsearch-native` which is documented thoroughly here: https://www.algolia

[2022-08-30 08:55] LiquidITGuy commented on #789
I add a flag on this (we add [keepZeroFacets](https://www.npmjs.com/package/@meilisearch/instant-meilisearch#keep-zero-facets) on configuration for the moment but i'm really interesting on that behaviour

[2022-08-31 15:08] #797 closed

[2022-09-01 15:22] bidoubiwa commented on #825
Hey @ar-siddiqui could you try your bug again with the latest release ? (v0.8.2)

[2022-09-13 03:24] jeremylynch commented on #789
Would be great to keep moving forward on this where possible, this is a critical feature for us

[2022-09-13 17:06] ar-siddiqui commented on #825
Ok, I can confirm that this is working and `zerofacets` are displayed, but there is another issue. I will open a new issue to track that.

[2022-09-13 17:06] #825 closed

[2022-09-13 17:24] ar-siddiqui commented on #789
This is a pain point for us too.

We have "or" based filter

This is the `refinement list` without any filters

![image](https://user-images.githubusercontent.com/53625184/189965454-b8ef2b99-2425-44dd-9289-94c83d0be728.png)

When we select 1 this is what we would see (notice other options becoming `0`)
![image](https://user-images.githubusercontent.com/53625184/189965594-2b0ca457-cf3b-41d9-af73-70

[2022-09-13 17:25] ar-siddiqui commented on #825
https://github.com/meilisearch/instant-meilisearch/issues/789#issuecomment-1245718106

[2022-09-17 07:01] jeremylynch commented on #789
Does anyone know when we will get an update on this one?

[2022-09-19 08:40] bidoubiwa commented on #789
Hey @jeremylynch. It is the next task we are working on :) I'll keep you updated

[2022-09-25 14:28] leeadh commented on #730
Also asking for react native. I tried to do

[code]
but this didn't work. createConnector.js:186 Uncaught TypeError: this.props.contextValue.store.getState is not a function

any sample codes please?

[2022-09-26 10:48] bidoubiwa commented on #730
Hey instead of using `react-instantsearch-hooks` can you try with this library:`react-instantsearch-native` ?

See [this doc](https://www.algolia.com/doc/guides/building-search-ui/going-further/native/react/)

[2022-09-27 15:29] bidoubiwa commented on #776
Should be fixed! If it is not, please tell me and re open :)

[2022-09-27 15:29] #776 closed

[2022-09-27 15:30] bidoubiwa commented on #775
Fixed!

[2022-09-27 15:30] #775 closed

[2022-09-27 15:31] bidoubiwa commented on #751
Fixed by #752

[2022-09-27 15:31] #751 closed

[2022-09-27 15:33] bidoubiwa commented on #754
Hey @3Descape ! Is this still an issue?

[2022-09-27 15:36] bidoubiwa commented on #672
Done!

[2022-09-27 15:36] #672 closed

[2022-09-27 15:37] bidoubiwa commented on #634
I'm closing this issue, if it is not resolved yet feel free to re-open :)

[2022-09-27 15:37] #634 closed

[2022-09-27 15:40] #612 closed

[2022-09-27 15:42] bidoubiwa commented on #535
Fixed!

[2022-09-27 15:42] #535 closed

[2022-10-04 09:22] TheLearneer commented on #765
Hi @bidoubiwa

I would like to pick it up.
However I just want to know the approach that is being discussed for the actual implementation.

[2022-10-10 06:18] batunpc commented on #705
Hello @bidoubiwa I am investigating this as part of the hacktoberfest. I have couple questions that I need your guidance.

Here is the screenshot of coverage report from this project with latest changes;
<img width="1092" alt="CleanShot 2022-10-10 at 02 16 40@2x" src="https://user-images.githubusercontent.com/71259399/194807674-9a84a479-ebbb-46c9-bb8f-c0397aa9cda6.png">

The screenshot you shared

[2022-10-12 19:43] tanishk-23 commented on #706
@bidoubiwa can you assign this issue to me?

[2022-10-18 13:20] kamopeter commented on #789
Hello there,
I'd like to ask about this feature, is there any update with that?

[2022-10-18 13:25] bidoubiwa commented on #789
Working on it for the moment! We have been slowed down with hacktoberfest unfortunately

[2022-10-22 16:07] a11rew commented on #765
HI @TheLearneer, checking in, are you working on this?

[2022-10-22 16:27] TheLearneer commented on #765
Hi @a11rew 👋

Nope, I got caught up on other things, so you are free to work on it if you want to.
Do follow the instructions from @bidoubiwa though 🙏

[2022-10-22 16:36] a11rew commented on #765
Ahh, got it  :+1:

[2022-10-24 15:26] Wamy-Dev commented on #30
Thank you this works!

[2022-10-25 08:52] #765 closed

[2022-10-31 10:44] bidoubiwa commented on #665
Hey @matepaiva could you open a new issue with this question?

[2022-11-02 17:53] edpomacedo opened #866 "TypeError: d is undefined"
Hello!

**Description**
The meilisearch-react only hydrates data into the App when the page is refreshed (Shift + F5). It does not hydrate the data when the app is accessed with mobile.

**Expected behavior**
It should hydrate the data without the refresh. Is should be visible and searchable when accessed with mobile.

**Current behavior**
The visitor needs to refresh the page to see the data and

[2022-11-03 11:32] matepaiva opened #867 "Is there a `responseFields` or similar functionality?"
**Description**
One of the properties received by instantSearch is `responseFields`, but it looks like it takes no effect when using with instant-meilisearch. I don't know if meilisearch has this functionality or something similar.

**Expected behavior**
Document how to have this functionality or document that this functionality is not available.

**Current behavior**
The property can be used but

[2022-11-07 09:43] bidoubiwa commented on #867
Hey @matepaiva, can you send me the link to the API reference of `responseFields` ? It may be something we forgot to add

[2022-11-07 11:22] matepaiva commented on #867
I forgot to add it here, sorry: https://www.algolia.com/doc/api-reference/api-parameters/responseFields/

[2022-11-08 14:41] bidoubiwa commented on #867
Thanks @matepaiva :) I'll look into it

[2022-11-08 16:15] bidoubiwa commented on #866
Hey @edpomacedo, I think this is due to the cache system in place. I'll add a system to disable that.
Where did you get the `d is undefined` error?

[2022-11-10 13:37] joepio opened #874 "Unable to run `react/playground` locally with `npm`, `yarn` and `pnpm`: `Cannot resolve dependency 'cross-fetch/polyfill'`"
**Description**
I'm trying to run the playground examples locally, but fail to do so.

First, I tried with `npm i` and `npm run start`, which resulted in

[code]

with `yarn`:

[code]

with `pnpm` and `pnpm start`

[code]

**Environment (please complete the following information):**
- OS: MacOS
- instant-meilisearch version:
df4714f

[2022-11-11 18:47] edpomacedo commented on #866
Hello @bidoubiwa ! Appreciated. This message was extracted from the Console.

[2022-11-13 20:17] n3a9 commented on #774
Hi, just wanted to see here if there was a possible work around to be able to do the multi index search, even if it returns in different lists? I wasn't able to figure out how to trigger multiple index searches from a single query. Thanks :)

[2022-11-14 08:33] joepio opened #877 "GeoSearch with hooks compatibility"
Hi there! Thanks for maintaining this awesome library :)

In the algolia docs, the [existing GeoSearch](https://www.algolia.com/doc/api-reference/widgets/geo-search/react/) component seems to become deprecated. Using the new `useConnector` hooks approach is the way to go. It also brings some nice advantages: more control over rendering and behavior, ability to use OpenLayers or Leaflet instead of

[2022-11-14 11:23] bidoubiwa commented on #877
Normally it should still be compatible. Instant-meilisearch is a middleware/adaptor between `instantsearch` and `meilisearch-js`. Could you try it?

[2022-11-14 11:26] bidoubiwa commented on #874
Hey @joepio, could you delete your `node_modules` in `/Users/joep/dev/zandbak/instant-meilisearch/playgrounds/react/node_modules/` and retry with `yarn`?

Also, you can directly run the react playground from the root directory:
`yarn playground:react`

[2022-11-14 11:57] joepio commented on #874
Removing `node_modules` and re-running `yarn` did it for me. Thanks @bidoubiwa !

[2022-11-14 11:57] #874 closed

[2022-11-14 12:19] joepio commented on #877
@bidoubiwa Thanks for replying so fast. I don't see an exported `connectGeoSearch` or `GeoSearchContext` in `meilisearch` or `instant-meilisearch`. Maybe I'm overlooking something?

[2022-11-14 16:24] bidoubiwa commented on #877
There is actually no import from `instantsearch` inside `instant-meilisearch`.

What instant-meilisearch is is actually just a client that adapts whatever `instantsearch` provides us to a search request compatible with Meilisearch and then transform the response of Meilisearch to a format `instantsearch` understands.

If you look at their readme:
[code]

`instant-meilisearch` is a client like `alg

[2022-11-14 21:14] joepio commented on #877
Thanks for the clarification, but sorry, I still don't understand where I might find `connectGeoSearch` or `GeoSearchContext`. Where should I import the `connectGeoSearch` from then, if it's still compatible?

Maybe my OP was a bit consufing. I want to create a GeoSearch component where users can search using a (custom) map (e.g. OpenLayers or Leaflet). I noticed in the Algolia react-instantsearch

[2022-11-15 09:34] bidoubiwa commented on #877
You import them from `instantsearch` and use instant-meilisearch as the search client
For example:

https://codesandbox.io/s/react-movies-demo-e1dqh?file=/src/App.js:180-199

[2022-11-15 13:51] ozgurhangisi opened #879 "Update aws Community AMI to 0.29.2"
**Description**
Hello,

Document duplication bug is very critical for us. It seems like you solved the issue in 0.29.2. We use aws community AMIs. Is it possible to update community AMI version from 0.29.1 to 0.29.2

Thanks.

**Expected behavior**

Latest version in AWS must be bug free.

**Current behavior**

0.29.1 has document duplication bug.

**Screenshots or Logs**

**Environment (please com

[2022-11-15 14:17] ozgurhangisi commented on #879
I opened issue in MeiliSearch repository.

[2022-11-15 14:17] #879 closed

[2022-11-18 15:26] joepio commented on #877
You're absolutely right!

I've managed to get pretty much the same UX as with the google component, but this time using MapBox GL.

Feel free to use it in your docs!

[code]

[2022-11-18 15:27] #877 closed

[2022-11-18 20:22] marisbasha opened #882 "Network request stuck on loading when searching with query"
When using ais-search-box, when typing, the app keeps "loading" and then crashes because the server never responds, which is not the case when using the mini dashboard of the server or Postman.

<img width="1386" alt="Screenshot 2022-11-18 at 9 08 59 PM" src="https://user-images.githubusercontent.com/41847328/202795549-5e47bc63-c8a6-4a1d-857c-c5f1548cd8ec.png">
<img width="1395" alt="Screenshot 20

[2022-11-18 20:54] marisbasha commented on #882
Update: It happens every time the search results are empty. Regardless of it being the query or facets.

[2022-11-19 16:36] marisbasha commented on #882
Update: It was an infinite loop, which network-wise was not reflected (due to caching of the requests I guess), and it was caused by using multiple connectors inside each other. Removing them solved the issue, as explained by [this issue in instantsearch.js](https://github.com/algolia/instantsearch.js/issues/1990)

[2022-11-19 16:36] #882 closed

[2022-11-22 17:26] bidoubiwa opened #884 "Add disjunctive facet search"
`disjunctiveFacetSearch` changes how we handle multiple facet filters.  See this [spec](https://github.com/meilisearch/product/issues/54) to understand.

To understand better the following explanation, lets consider that we have two facets fields:

- color
    - red
    - blue
- genres
   - drama
   - action

## Current behavior

When performing a search requiring that `color` is `red` and `genres

[2022-11-24 09:58] anthonycook commented on #789
Hi @bidoubiwa, any update on this?

Happy to test on our 20k+ product database which has lots of facets if it helps.

[2022-11-24 10:22] bidoubiwa commented on #789
Hey @anthonycook, I'm currently working on it :) Both multi-index search and disjunctive facet search are being added simultaneously.

You can follow along #888 Which introduces the multi-index search, and should be a gate opener to adding disjunctive very efficiently

[2022-11-24 10:24] anthonycook commented on #789
Amazing! Thanks for the update, I will follow along 😊

[2022-11-24 11:49] alcanari commented on #789
Thank you for the update @bidoubiwa !

[2022-11-24 13:49] mdubus opened #889 "Name mismatch for the `_geo` field"
**Description**
The key used inside the hit for geolocation doesn't match the one returned by `_highlightResult`

**Expected behavior**
Both key should have matching names

**Current behavior**
The key inside the hit is called `_geoloc` while the one inside the `_highlightResult` is called `_geo`

**Screenshots or Logs**
<img width="517" alt="Capture d’écran 2022-11-24 à 14 16 21" src="https://u

[2022-11-29 15:54] bidoubiwa opened #893 "Document `clearcache` method"
`clearCache` is an available method in instant-meilisearch. Unfortunately it is not documented.
It should be added in the README.md file.

See https://github.com/meilisearch/instant-meilisearch/pull/808

[2022-11-29 16:22] matepaiva commented on #867
Hello! Do you have news about it? Thank you!

[2022-11-30 00:37] jazoom opened #895 "Snippet docs don't match behaviour"
**Description**
From the docs:

But this seems to be incorrect. For me this is creating 40 *words*, not a max of 40 characters.

**Expected behavior**
What the docs suggest.

**Current behavior**
Exactly the opposite of what the docs suggest.

**Environment (please complete the following information):**
latest of each library